:root {
    --bg-global: #ffdaff;
    --bg-card: rgba(235, 235, 235, 0.8);
    --bg-card-o: rgba(235, 235, 235, 1);
    --border: rgba(167, 167, 167, 0.5);
    --icons: hsla(0, 0%, 15%, 0.8);
    --icons-i: white;
    --text: #393939;
    --text2: #949494;
    --button: #be5bc4;
    --dur: 0s;
    --bg-table-stripp: rgba(163, 163, 163, 0.4);
    --scrollbar: rgba(167, 167, 167, 0.5);
}

[data-theme="dark"] {
    --bg-global: #0c000f;
    --bg-card: hsla(0, 0%, 15%, 0.8);
    --bg-card-o: hsla(0, 0%, 15%, 1);
    --border: rgba(65, 65, 65, 0.5);
    --icons: white;
    --icons-i: hsla(0, 0%, 15%, 0.8);
    --text: rgb(235, 235, 235);
    --text2: rgb(116, 116, 116);
    --button: #602e63;
    --bg-table-stripp: rgba(58, 58, 58, 0.4);
}

@media only screen and (min-width: 800px) {
    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 15px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar);
        border: 0px solid rgba(167, 167, 167, 1);
        border-radius: 20px;
    }
  }
