:root {
    --bg-global: white;
    --encabezados-pagina: #e8d7f1;
    --encabezados-subtitulo: #D3B2FF;
    --top-bar: #7b3d7e;
    --bg-button-menu: #78397c;
    --bg-button-menu-hover: #97469c;
    --bg-menu: rgba(255, 255, 255, 0.5);
    --bg-button-inferior-hover: #666666;
    --bg-card: #ffffff;
    --title: #2c1a43;
    --subtitle-1: #262626;
    --separator: #26262666;
    --icons: #000000;
    --list-libros: #26262680;
    --search-bar: #ffffff;
    --search-bar-color: #3d3d3d;
    --bg-details: #E2BBE4;
    --border: rgba(167, 167, 167, 0.5);
}

[data-theme="dark"] {
    --bg-global: #161616;
    --bg-menu: rgba(0, 0, 0, 0.5);
    --encabezados-pagina: #e8d7f1;
    --encabezados-subtitulo: #D3B2FF;
    --bg-button-menu: rgba(212, 179, 255, 0.5);
    --bg-button-menu-hover: rgba(211, 178, 255, 0.3);
    --top-bar: #552958;
    --icons: #ffffff;
    --bg-card: #262626;
    --title: #a867fd;
    --subtitle-1: #a5a5a5;
    --separator: #83838366;
    --list-libros: #00000080;
    --search-bar: #3d3d3d;
    --search-bar-color: #f1f1f1;
    --bg-details: #190F1A;
    --border: rgba(65, 65, 65,0.5);
}

input {
    padding: 10px;
    box-sizing: border-box;
}

.modal-backdrop {
    z-index: -1 !important;
}

.titulo {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 49px;
    text-align: center;
    color: var(--encabezados-pagina);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

.a-menu {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--bg-global);
    background-attachment: fixed;
}

.transi {
    transition: background-color 0.3s ease-in-out;
}

/* #region MENU */
.menu {
    width: 25%;
    max-width: 45%;
    height: 100%;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    background: var(--bg-menu);
    border-right: 1px solid rgba(38, 38, 38, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
}

.botones-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 80px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    width: 85%;
    height: 60px;
    background-color: var(--bg-button-menu);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

    .boton-menu:hover {
        background-color: var(--bg-button-menu-hover);
    }

    .boton-menu p {
        height: auto;
        text-align: center;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        margin: 0px;
    }

    .boton-menu svg {
        width: 20%;
        color: white;
    }

.menu-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;
    gap: 20px;
    width: 100%;
    position: fixed;
    /* SI SE QUIERE DEJAR COMO ERSTABA: SE BORRA EL FIX, SE PONE EL BOTOM Y SE QUITA EL MARGIN */
    /* margin-top: 50%; */
    bottom: 0;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.boton-logout:hover {
    background: var(--bg-button-inferior-hover);
}

.mi-lista:hover {
    background: var(--bg-button-inferior-hover);
}

.separador-menu {
    width: 100%;
    height: 2px;
    background: var(--separator);
}

.menu-usuario {
    width: 85%;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: var(--icons);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0px;
}

.mi-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 85%;
    height: 60px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

    .mi-lista svg {
        width: 20%;
    }

    .mi-lista p {
        height: 50px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #ffffff;
    }

.boton-logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 60px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

    .boton-logout p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #ff3131;
        margin: 0px;
    }

    .boton-logout svg {
        width: 20%;
    }

.boton-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 60px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

    .boton-login p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin:0px;
        color: #509EFF !important;
    }

    .boton-login svg {
        width: 20%;
    }

.menu-movil {
    display: none;
}

.main {
    position: relative;
    float: right;
    width: 75%;
    height: 100vh;
    padding: 0px;
    gap: 45px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.imgFondo {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

/*#region MEDIA QUERYS*/
@media (max-width: 800px) {
    .menu-movil {
        display: block;
        height: 60px;
        border-bottom: 2px solid black;
        background-color: var(--top-bar);
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 0px;
    }

    .menu {
        left: -100%;
        width: 100% !important;
        height: 100%;
        margin-top: 60px;
        z-index: 1;
        position: fixed;
        top: 0px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        max-width: none;
    }

    /* SI SE QUIERE DEJAR COMO ERSTABA: SE BORRA EL FIX Y ESTE ESTILO */
    .menu-inferior {
        position: relative;
        padding-bottom: 60px;
    }

    .main {
        width: 100%;
        position: fixed;
        top: 60px;
    }

    .movil-bottom {
        margin-bottom: 100px;
    }

    .modal-dialog{
        margin-top:200px !important;
    }
}

/*#endregion*/

/* #endregion */

/* #region HAM MENU */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--icons);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}
/*#endregion*/

/*#region SCROLLBAR*/
.scrollbar {
    overflow-y: auto;
}

#style-1::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #74747483;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #74747483;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dcaaff;
}

@media (max-width: 800px) {
    #style-1::-webkit-scrollbar {
        display: none;
    }
}
/*#endregion*/

/* #region BUSCADOR */
.search {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    top: 40px;
}

    .search input {
        border: 2px solid var(--top-bar);
        height: 40px;
        padding: 0 10px;
        width: 60%;
        min-width: 230px;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: "Montserrat";
        background-color: var(--search-bar);
        color: var(--search-bar-color);
    }

        .search input::placeholder {
            color: var(--search-bar-color);
            opacity: 1; /* Firefox */
        }

        .search input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: var(--search-bar-color);
        }

        .search input::-ms-input-placeholder {
            /* Microsoft Edge */
            color: var(--search-bar-color);
        }

    .search select {
        border: 2px solid var(--top-bar);
        height: 44px;
        padding: 0 10px;
        width: 150px;
        border-radius: 10px;
        font-size: 15px;
        font-family: "Montserrat";
        background-color: var(--search-bar);
        color: var(--search-bar-color);
    }

    .search #send-search {
        border: 2px solid var(--top-bar);
        height: 44px;
        padding: 0 10px;
        width: 20%;
        border-radius: 10px;
        font-size: 15px;
        font-family: "Montserrat";
        background-color: var(--search-bar);
        color: var(--search-bar-color);
    }

    .search #send-search {
        cursor: pointer;
        width: 100px;
    }

        .search input:hover,
        .search select:hover,
        .search #send-search:hover {
            border: 1px solid var(--search-bar-color);
        }

/* #endregion */

/* #region DARKLIGHT */

#toggle {
    outline: 1px solid var(--border);
    color: var(--search-bar);
    font: 20px sans-serif;
}

form,
.toggle:before,
.toggle:after {
    background: var(--icons);
    height: 0px;
}

form,
.toggle {
    position: relative;
}

form {
    width: fit-content;
    margin: 0px;
}

.curtain,
.sr,
.toggle:before,
.toggle:after {
    position: absolute;
}

.curtain,
.toggle:before,
.toggle:checked:after {
    transition-timing-function: ease-out;
}

.curtain,
.sr {
    top: 0;
    left: 0;
}

.sr,
.toggle {
    overflow: hidden;
}

.toggle {
    background: currentColor;
    border-radius: 0.75em;
    cursor: pointer;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

    .toggle:before,
    .toggle:after {
        border-radius: 50%;
        content: "";
        display: block;
        top: 0.25em;
        left: 0.25em;
        width: 1em;
        height: 1em;
    }

    .toggle:before,
    .toggle:checked:after {
        transition-delay: 0s;
    }

    .toggle:checked:before,
    .toggle:after {
        transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
    }

    .toggle:before {
        transform: translateX(-1.5em);
    }

    .toggle:checked:before {
        transform: translateX(1.5em);
    }

    .toggle:checked:after {
        transform: translateX(3em);
    }

    .toggle:checked ~ .curtain {
        transform: scaleX(1);
    }

/* #endregion */
