<link rel="stylesheet" href="~/css/EstiloLibros.css">

        <p class="titulo">Libros</p>


<form method="post">
    <div class="search">
        <input type="text" placeholder="Buscar" />
        <select id="filtro">
            <option value="T">Título</option>
            <option value="A">Autor</option>
            <option value="E">Editorial</option>
        </select>
        <button id="send-search">Buscar</button>
    </div>
</form>

<div style="margin-left:auto;margin-right:auto; width:90%; padding-top:20px;">

    <div class="card-libro-bg-white card-libro">
        <div class="imagen-libro">
            <img src="~/imgs/placeholder.png" alt="">
        </div>
        <div class="contenido-libro">
            <div class="titulo-autor">
                <p class="titulo-libro">El arte de la guerra</p>
                <p class="autor-libro">Autor: Sun Tzu</p>
            </div>
            <div class="separator-card"></div>
            <div class="paginas-valoracion">
                <p class="n-paginas">Paginas: 127</p>
                <div class="valoracion">
                    <img src="~/imgs/estrella.png" alt="">
                    <p>4.3</p>
                </div>
            </div>
        </div>
        <div class="info-libro">
            <img src="~/imgs/arrow-right.png" alt="">
        </div>
    </div>

</div>

