@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<div class="contenido-texto">
    <div class="texto" style="margin: auto" class="text-center">
        <h1>¡Comieza a explorar!</h1>
    </div>
</div>

<style>
    .contenido-texto{
        height:100vh;
        align-content:center;
        justify-content:center;
        display:flex;
    }
    .texto {
        width: 80%;
        padding-top: 60px;
        padding-bottom: 60px;
        height: auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        color: rgba(38, 38, 38, 1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        font-size: 3vw;
        line-height: 105px;
    }
</style>