@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/EstiloMainLayout.css">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="contenido-texto">
    <div class="texto" style="margin: auto" class="text-center">
        <h1 style="margin: 0px;">¡Comieza a explorar!</h1>
    </div>
</div>

<style>
    .contenido-texto{
        height:100vh;
        align-content:center;
        justify-content:center;
        display:flex;
    }
    .texto {
        width: 80%;
        padding-top: 60px;
        padding-bottom: 60px;
        height: auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        color: var(--icons);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        font-size: 3vw;
        line-height: 105px;
    }
</style>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
