<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/colors.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="mainContainer">
        <div class="login front">
            <div class="contenido">
                <h1>Login</h1>
                <div class="div-form">
                    <form class="form-login" method="post">
                        <label for="">Usuario:</label>
                        <input type="text" name="dni" id="dni" required />
                        <label for="">Contraseña:</label>
                        <input type="password" name="password" required />
                        <p style="color:red">@ViewData["MSG"]</p>
                        <button class="boton">Iniciar sesion</button>
                    </form>
                </div>
            </div>
            <div class="side-registro">
                <h3>REGISTRARSE</h3>
                <svg id="flip-btn" width="100" height="100" viewBox="0 0 231 231" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M115.837 230.313C52.3135 230.313 0.680664 178.68 0.680664 115.156C0.680664 51.6329 52.3135 0 115.837 0C179.36 0 230.993 51.6329 230.993 115.156C230.993 178.68 179.36 230.313 115.837 230.313ZM115.837 16.0683C61.2047 16.0683 16.749 60.524 16.749 115.156C16.749 169.789 61.2047 214.244 115.837 214.244C170.469 214.244 214.925 169.789 214.925 115.156C214.925 60.524 170.469 16.0683 115.837 16.0683Z"
                          fill="black" />
                    <path d="M102.336 161.007C100.301 161.007 98.2654 160.257 96.6586 158.65C93.552 155.543 93.552 150.402 96.6586 147.295L128.795 115.158L96.6586 83.0213C93.552 79.9147 93.552 74.7729 96.6586 71.6663C99.7651 68.5598 104.907 68.5598 108.014 71.6663L145.828 109.481C148.934 112.587 148.934 117.729 145.828 120.836L108.014 158.65C106.407 160.257 104.371 161.007 102.336 161.007Z"
                          fill="black" />
                </svg>

            </div>
        </div>

        <div class="login back">
            <div class="contenido">
                <h1>Registro</h1>
                <div class="div-form">
                    <div class="div-form">
                        <form class="form-login" method="post">
                            <label for="">Nombre:</label>
                            <input type="text" name="nombre" required />
                            <label for="">Apellidos:</label>
                            <input type="text" name="apellidos" required />
                            <label for="">DNI:</label>
                            <input type="text" name="dni" required maxlength="9" />
                            <label for="">Usuario:</label>
                            <input type="text" name="usuario" required />
                            <label for="">Contraseña:</label>
                            <input type="password" name="password" required />
                            <label for="">Email:</label>
                            <input type="email" name="email" required />
                            <label for="">Telefono:</label>
                            <input type="number" name="telefono" required maxlength="9" />
                            <button class="boton">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="side-registro" ">
                <h3>INICIAR SESION</h3>
                <svg id="flip-back-btn" width="100" height="100" viewBox="0 0 231 231" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M115.837 230.313C52.3135 230.313 0.680664 178.68 0.680664 115.156C0.680664 51.6329 52.3135 0 115.837 0C179.36 0 230.993 51.6329 230.993 115.156C230.993 178.68 179.36 230.313 115.837 230.313ZM115.837 16.0683C61.2047 16.0683 16.749 60.524 16.749 115.156C16.749 169.789 61.2047 214.244 115.837 214.244C170.469 214.244 214.925 169.789 214.925 115.156C214.925 60.524 170.469 16.0683 115.837 16.0683Z"
                          fill="black" />
                    <path d="M102.336 161.007C100.301 161.007 98.2654 160.257 96.6586 158.65C93.552 155.543 93.552 150.402 96.6586 147.295L128.795 115.158L96.6586 83.0213C93.552 79.9147 93.552 74.7729 96.6586 71.6663C99.7651 68.5598 104.907 68.5598 108.014 71.6663L145.828 109.481C148.934 112.587 148.934 117.729 145.828 120.836L108.014 158.65C106.407 160.257 104.371 161.007 102.336 161.007Z"
                          fill="black" />
                </svg>

            </div>
        </div>
    </div>


</body>

</html>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    input {
        padding: 10px !important;
        box-sizing: border-box !important;
    }

    body {
        background: url("./img/fondoDef.png");
        background-repeat: no-repeat;
        background-color: var(--bg-global);
        background-size: 100% 70vh;
        height: 100vh;
    }

    /* #region EEFECTO CARD */
    .mainContainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.5s;
    }

    .back {
        transform: rotateY(180deg);
    }

    .container .scale svg {
        transform: scale(0);
    }

    .mainContainer.flip .front {
        transform: rotateY(-180deg);
    }

    .mainContainer.flip .back {
        transform: rotateY(0deg);
    }

    /* #endregion */

    /* #region LOGIN */
    .login {
        width: 60%;
        max-width: 600px;
        max-height: 90vh;
        height: fit-content;
        background-color: var(--bg-card);
        box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
    }

        .login > .contenido {
            margin: 40px;
            margin-right: 20px;
            width: 100%;
            max-height: 100%;
        }

    .contenido > h1 {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 75px;
        color: var(--text);
    }

    .div-form {
        max-height: 90%;
        overflow: auto;
    }

    .form-login {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        background-color: transparent;
    }

        .form-login > label {
            width: 100%;
            text-align: left;
            height: min-content;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: var(--text);
        }

        .form-login > input {
            font-family: "Poppins";
            font-size: 15px;
            width: 90%;
            height: 35px;
            border: none;
            color: var(--text);
            border: 1px solid var(--border);
            background: var(--bg-card);
            box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

    .side-registro {
        /* background-color: red; */
        border-left: 2px solid var(--border);
        width: 200px;
        margin: 0px;
        margin-left: 0px;
        /* height: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .side-registro > h3 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            line-height: 75px;
            color: var(--text);
            writing-mode: vertical-rl;
            text-orientation: sideways;
            /* background-color: pink; */
            width: auto;
            margin: 0;
        }

        .side-registro > svg {
            width: 50px;
            margin-right: 20px;
            transition: transform 0.3s ease-in-out;
        }

            .side-registro > svg > path {
                fill: var(--text);
            }

            .side-registro > svg:hover {
                transform: scale(1.1);
            }

    .boton {
        border: 0px;
        width: max-content;
        padding: 0px 20px;
        height: 40px;
        margin-top: 10px;
        text-decoration: none;
        background: var(--button);
        border-radius: 50px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transition: transform 0.3s ease-in-out;
    }

        .boton:hover {
            background: #4b4b4b;
            transform: scale(1.1);
        }

    @@media (max-width:800px) {
        body {
            display: block;
            justify-content: start;
            align-items: start;
            height: 100vh;
        }

        .main {
            height: auto !important;
        }

        .mainContainer {
            margin: 0px;
            padding: 0px;
            height: calc(100vh - 62px);
        }

        .login {
            width: 100%;
            border-radius: 0px;
            flex-direction: column;
            height: 100%;
        }

            .login > .contenido {
                margin: 0px;
                padding: 0px;
                width: 90%;
                margin: auto;
                margin-top: 20px;
                overflow: hidden;
            }

        .side-registro {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 0px;
            border-top: 2px solid var(--border);
        }

            .side-registro > h3 {
                writing-mode: horizontal-tb;
                margin-right: 20px;
            }

        .form-login {
            overflow-y: auto;
            max-height: 500px;
            justify-content: start;
            margin-bottom: 40px;
        }

            .form-login > input {
                height: 35px;
            }
    }

    /* #endregion */
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const flipBtn = document.querySelector('#flip-btn');
    const flipBackBtn = document.querySelector('#flip-back-btn');
    const container = document.querySelector('.mainContainer');
    const svgs = document.getElementsByTagName('svg');

    $("#dni").focus();

    $(".back .contenido").hide();
    flipBtn.addEventListener('click', () => {
        container.classList.toggle('flip');
        $(".back .contenido").show(300);
        $(".front .contenido").hide(300);
        $("#flip-btn").hide(300);
        $("#flip-back-btn").show(300);

    });

    flipBackBtn.addEventListener('click', () => {
        container.classList.remove('flip');
        $(".back .contenido").hide(300);
        $(".front .contenido").show(300);
        $("#flip-back-btn").hide(300);
        $("#flip-btn").show(300);
    });
</script>