@{
    Layout = "_LayoutAdministrador";
    List<BibliotecaSimple> biblios = ViewData["BIBLIOTECAS"] as List<BibliotecaSimple>;
}

<div class="contenido-perfil temp">
    <div class="card-info">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a class="inline-flex items-center text-sm font-medium" asp-action="Index" asp-controller="Home">
                        <svg class="svg-leyenda" width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.7721 39.9564H9.22791C4.13023 39.9564 0 35.8076 0 30.7099V16.9238C0 14.3935 1.56279 11.2122 3.57209 9.64936L13.6 1.83541C16.614 -0.508767 21.4326 -0.620395 24.5581 1.57495L36.0558 9.63076C38.2698 11.1749 40 14.4866 40 17.1843V30.7285C40 35.8076 35.8698 39.9564 30.7721 39.9564ZM15.3116 4.03076L5.28372 11.8447C3.96279 12.8866 2.7907 15.2494 2.7907 16.9238V30.7099C2.7907 34.2634 5.67442 37.1657 9.22791 37.1657H30.7721C34.3256 37.1657 37.2093 34.282 37.2093 30.7285V17.1843C37.2093 15.3982 35.9256 12.9238 34.4558 11.9191L22.9581 3.86332C20.8372 2.37495 17.3395 2.44936 15.3116 4.03076Z" fill="#292D32" />
                            <path d="M19.9998 32.5144C19.2371 32.5144 18.6045 31.8819 18.6045 31.1191V25.5377C18.6045 24.7749 19.2371 24.1423 19.9998 24.1423C20.7626 24.1423 21.3952 24.7749 21.3952 25.5377V31.1191C21.3952 31.8819 20.7626 32.5144 19.9998 32.5144Z" fill="#292D32" />
                        </svg>
                        Inicio
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        <svg class="svg-leyenda activo" width="20" height="20" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.9815 25.9071C16.1339 25.9071 13.0112 22.7844 13.0112 18.9368C13.0112 15.0892 16.1339 11.9666 19.9815 11.9666C23.8291 11.9666 26.9518 15.0892 26.9518 18.9368C26.9518 22.7844 23.8291 25.9071 19.9815 25.9071ZM19.9815 14.7547C17.6767 14.7547 15.7993 16.632 15.7993 18.9368C15.7993 21.2416 17.6767 23.119 19.9815 23.119C22.2863 23.119 24.1636 21.2416 24.1636 18.9368C24.1636 16.632 22.2863 14.7547 19.9815 14.7547Z"
                                  fill="#393939" />
                            <path d="M25.948 37.8769C25.5576 37.8769 25.1673 37.8212 24.777 37.7282C23.6245 37.4122 22.658 36.6873 22.0446 35.665L21.8216 35.2933C20.7249 33.3974 19.2193 33.3974 18.1227 35.2933L17.9182 35.6464C17.3048 36.6873 16.3383 37.4308 15.1859 37.7282C14.0149 38.0442 12.8067 37.8769 11.7844 37.2635L8.58736 35.4234C7.45353 34.7728 6.63569 33.7134 6.28253 32.4308C5.94796 31.1483 6.11524 29.8286 6.7658 28.6948C7.30483 27.7468 7.45353 26.8918 7.13755 26.3528C6.82156 25.8137 6.0223 25.4977 4.92565 25.4977C2.2119 25.4977 0 23.2859 0 20.5721V17.3007C0 14.587 2.2119 12.3751 4.92565 12.3751C6.0223 12.3751 6.82156 12.0591 7.13755 11.5201C7.45353 10.981 7.32342 10.126 6.7658 9.17804C6.11524 8.04421 5.94796 6.70592 6.28253 5.44198C6.6171 4.15945 7.43494 3.09998 8.58736 2.44942L11.803 0.609269C13.9033 -0.636085 16.6729 0.0888222 17.9368 2.22637L18.1599 2.59812C19.2565 4.49403 20.7621 4.49403 21.8587 2.59812L22.0632 2.24496C23.3271 0.0888222 26.0967 -0.636085 28.2156 0.627856L31.4126 2.468C32.5465 3.11856 33.3643 4.17804 33.7175 5.46057C34.052 6.7431 33.8848 8.0628 33.2342 9.19663C32.6952 10.1446 32.5465 10.9996 32.8625 11.5386C33.1784 12.0777 33.9777 12.3937 35.0744 12.3937C37.7881 12.3937 40 14.6056 40 17.3193V20.5907C40 23.3044 37.7881 25.5163 35.0744 25.5163C33.9777 25.5163 33.1784 25.8323 32.8625 26.3714C32.5465 26.9104 32.6766 27.7654 33.2342 28.7134C33.8848 29.8472 34.0706 31.1855 33.7175 32.4494C33.3829 33.7319 32.5651 34.7914 31.4126 35.442L28.197 37.2821C27.4907 37.6725 26.7286 37.8769 25.948 37.8769ZM19.9814 30.9996C21.6357 30.9996 23.1784 32.0405 24.2379 33.8806L24.4424 34.2338C24.6654 34.6241 25.0372 34.903 25.4833 35.0145C25.9294 35.126 26.3755 35.0702 26.7472 34.8472L29.9628 32.9885C30.4461 32.7096 30.8178 32.245 30.9665 31.6873C31.1152 31.1297 31.0409 30.5535 30.7621 30.0702C29.7026 28.2487 29.5725 26.3714 30.3903 24.9401C31.2082 23.5089 32.8996 22.6911 35.0186 22.6911C36.2082 22.6911 37.1561 21.7431 37.1561 20.5535V17.2821C37.1561 16.1111 36.2082 15.1446 35.0186 15.1446C32.8996 15.1446 31.2082 14.3267 30.3903 12.8955C29.5725 11.4643 29.7026 9.58696 30.7621 7.7654C31.0409 7.28213 31.1152 6.70592 30.9665 6.1483C30.8178 5.59068 30.4647 5.14458 29.9814 4.84719L26.7658 3.00704C25.9665 2.52377 24.9071 2.80258 24.4238 3.62042L24.2193 3.97358C23.1599 5.81373 21.6171 6.85462 19.9628 6.85462C18.3085 6.85462 16.7658 5.81373 15.7063 3.97358L15.5019 3.60183C15.0372 2.82116 13.9963 2.54235 13.197 3.00704L9.98141 4.86577C9.49814 5.14459 9.12639 5.60927 8.97769 6.16689C8.829 6.72451 8.90335 7.30072 9.18216 7.78399C10.2416 9.60555 10.3717 11.4829 9.5539 12.9141C8.73606 14.3453 7.04461 15.1632 4.92565 15.1632C3.73606 15.1632 2.7881 16.1111 2.7881 17.3007V20.5721C2.7881 21.7431 3.73606 22.7096 4.92565 22.7096C7.04461 22.7096 8.73606 23.5275 9.5539 24.9587C10.3717 26.3899 10.2416 28.2673 9.18216 30.0888C8.90335 30.5721 8.829 31.1483 8.97769 31.7059C9.12639 32.2635 9.47955 32.7096 9.96283 33.007L13.1784 34.8472C13.5688 35.0888 14.0335 35.1446 14.461 35.0331C14.9071 34.9215 15.2788 34.6241 15.5204 34.2338L15.7249 33.8806C16.7844 32.0591 18.3271 30.9996 19.9814 30.9996Z"
                                  fill="#393939" />
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Administracion</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    @if (Context.User.IsInRole("ADMIN"))
    {
        <div class="card-perfil" style="text-align: center; margin-top:auto">
            <h1 class="title">Panel de administrador</h1>
            <div class="rowP">
                <a asp-action="Bibliotecas" asp-controller="Administracion" class="card-admin">
                    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:140px;">
                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9346 0.205116C14.4025 0.436131 14.0274 0.793676 13.7513 1.33287C13.5457 1.73427 13.5284 2.06355 13.5284 5.57978V9.39152L7.52604 9.42482L1.52371 9.45824L1.07667 9.73652C0.830723 9.88955 0.488151 10.2288 0.315401 10.4902L0.00117119 10.9656V34.7206V58.4755L0.279094 58.9231C0.431934 59.1694 0.770758 59.5124 1.03182 59.6854L1.50661 60H29.9356H58.3647L58.8581 59.6482C59.2881 59.3417 59.5136 59.0269 59.9277 58.1547C59.9809 58.0427 60.0116 47.4096 59.9959 34.5255C59.9674 11.3206 59.9666 11.2451 59.9074 26.5205C59.8744 35.0018 59.8346 41.8696 59.8188 41.7823C59.7895 41.6198 44.915 9.62711 44.3268 8.46148C43.7631 7.34452 43.1635 6.93702 42.083 6.93702C41.5592 6.93702 40.9353 7.19594 36.7148 9.16508C34.0883 10.3905 31.8813 11.3931 31.8106 11.3931C31.719 11.3931 31.6818 10.0015 31.6818 6.58053C31.6818 2.08067 31.6672 1.73966 31.4589 1.33287C31.1772 0.78277 30.8014 0.430854 30.2492 0.199839C29.6045 -0.069873 15.5569 -0.0650651 14.9346 0.205116ZM18.2131 25.3478V45.9867H22.6051H26.997V25.3478V4.70896H22.6051H18.2131V25.3478ZM0 34.7291C0 47.6607 0.0137029 52.9509 0.0304508 46.4851C0.0471988 40.0192 0.0471988 29.439 0.0304508 22.9732C0.0137029 16.5074 0 21.7976 0 34.7291ZM36.7886 14.3029C34.4811 15.3812 32.5858 16.3044 32.5767 16.3542C32.5514 16.493 45.9003 45.1582 45.9923 45.1622C46.099 45.167 54.1978 41.403 54.3283 41.2881C54.384 41.2389 51.4126 34.7168 47.7251 26.7944C44.0378 18.8719 41.0125 12.3791 41.0024 12.366C40.9922 12.3528 39.0961 13.2245 36.7886 14.3029ZM4.62736 30.0385V45.9867H9.07787H13.5284V30.0385V14.0903H9.07787H4.62736V30.0385ZM31.6853 35.8725L31.6818 45.9867H36.432C39.0445 45.9867 41.1578 45.9472 41.128 45.8987C41.0981 45.8503 39.0084 41.3781 36.484 35.9604C33.9596 30.5427 31.848 26.0309 31.7915 25.9342C31.7321 25.8325 31.6874 30.0237 31.6853 35.8725ZM59.7902 43.0374C59.7902 43.1567 59.628 43.4786 59.4297 43.7526C59.1202 44.1805 58.8186 44.372 57.2923 45.11L55.5154 45.9691L56.6866 45.9786C57.3307 45.9838 58.0589 46.0439 58.3046 46.1123C58.8508 46.2641 59.6246 47.0132 59.7751 47.5359C59.8543 47.8105 59.8893 47.1871 59.8968 45.371C59.9026 43.9683 59.881 42.8205 59.8488 42.8205C59.8166 42.8205 59.7902 42.9181 59.7902 43.0374ZM4.62736 53.0227V55.368H29.925H55.2226V53.0227V50.6773H29.925H4.62736V53.0227Z" fill="#393939" />
                        </svg>
                        <p>Bibliotecas</p>
                    </div>
                </a>
                <a asp-action="Libros" asp-controller="Administracion" class="card-admin">
                    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:140px;">
                        <svg width="75" height="60" viewBox="0 0 75 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9039 0.109791C9.23692 0.259723 8.49536 0.629042 8.01069 1.55082C7.69125 2.15867 7.67474 2.33455 7.67474 5.13961V8.08938H4.84638C1.76215 8.08938 1.39072 8.16246 0.697098 8.90531C0.483074 9.13441 0.238786 9.50561 0.154074 9.73008C0.0474965 10.0125 0 17.5104 0 34.0588C0 53.8213 0.0340295 58.0607 0.195634 58.4482C0.466132 59.0963 1.33381 59.8203 1.98805 59.9436C2.34485 60.0109 2.83517 59.9633 3.40295 59.8063C7.83171 58.5814 11.1702 57.8583 14.191 57.4696C22.2977 56.4266 29.3301 57.0831 35.2197 59.4326C36.0019 59.7447 36.8347 60 37.0705 60C37.3062 60 38.139 59.7447 38.9212 59.4326C41.5285 58.3925 44.7786 57.588 47.7137 57.2563C53.7125 56.5781 61.0351 57.2344 67.9866 59.0731C71.8787 60.1027 71.6395 60.0579 72.2558 59.873C73.0045 59.6484 73.6493 59.0895 74.0009 58.3608C74.2806 57.7812 74.2857 57.3395 74.2857 33.7914C74.2857 17.8422 74.2372 9.84231 74.1409 9.9019C74.0613 9.9512 73.9961 9.89204 73.9961 9.77053C73.9961 9.43384 73.1183 8.50583 72.5912 8.28528C72.2521 8.14347 71.3425 8.08938 69.2945 8.08938H66.4662V5.13961C66.4662 2.33455 66.4497 2.15867 66.1302 1.55082C65.6034 0.549001 64.9657 0.273933 62.7425 0.0899259C60.3834 -0.105246 56.6468 0.0271398 54.23 0.391529C47.5133 1.40437 42.1353 4.01686 38.3045 8.12781L37.0705 9.45196L35.8364 8.12781C32.0074 4.01875 26.6586 1.41916 19.9109 0.387614C17.7777 0.0615052 13.0584 -0.0840761 10.9039 0.109791ZM12.8516 4.99127C12.6119 5.0616 12.5982 6.10503 12.5982 24.2677V43.4698L13.4308 43.4743C17.2262 43.495 21.3075 44.0192 24.2302 44.8612C27.9445 45.9314 31.3253 47.6428 33.6905 49.6506C34.1015 49.9995 34.4762 50.2849 34.5232 50.2849C34.5702 50.2849 34.6087 42.2706 34.6087 32.4755V14.6661L33.8682 13.589C30.1797 8.2238 23.8224 5.2952 15.2047 4.99113C14.0498 4.95038 12.991 4.95053 12.8516 4.99127ZM58.2846 4.99997C52.1177 5.26707 46.415 7.33581 42.9347 10.5685C41.5999 11.8085 41.1912 12.2727 40.2924 13.5702L39.5322 14.6675V32.4762C39.5322 42.2709 39.5707 50.2849 39.6177 50.2849C39.6647 50.2849 40.0394 49.9995 40.4504 49.6506C42.0718 48.2743 44.8482 46.671 47.2318 45.7343C50.7067 44.3688 55.9302 43.4775 60.4929 43.4713L61.5427 43.4698V24.2772V5.0848L60.7825 4.9933C60.3645 4.94299 59.8594 4.91413 59.6603 4.92907C59.4612 4.94386 58.8421 4.9759 58.2846 4.99997ZM0.0706656 34.0447C0.0706656 47.3232 0.0877527 52.7554 0.108605 46.1161C0.129457 39.4769 0.129457 28.6126 0.108605 21.9733C0.0877527 15.3341 0.0706656 20.7662 0.0706656 34.0447ZM5.02001 13.1162C4.96686 13.1692 4.92342 22.4393 4.92342 33.7161C4.92342 53.5419 4.93225 54.2167 5.18928 54.135C6.66052 53.6675 11.7017 52.7325 14.7703 52.3581C18.3754 51.9182 26.3335 52.0265 28.9613 52.5511C29.2521 52.6093 29.2093 52.5486 28.7441 52.2437C26.9042 51.0379 23.869 49.8232 21.319 49.2725C18.5468 48.6739 16.357 48.4986 12.8275 48.5929C9.67481 48.677 9.48323 48.6668 8.9877 48.388C8.70084 48.2264 8.30436 47.858 8.1067 47.569L7.74715 47.0437L7.70921 30.0315L7.67127 13.0194H6.39378C5.69133 13.0194 5.073 13.0629 5.02001 13.1162ZM66.4317 30.0261L66.3938 47.0437L66.0342 47.569C65.8365 47.858 65.4401 48.2264 65.1532 48.388C64.6577 48.6668 64.4661 48.677 61.3134 48.5929C57.7539 48.4977 55.6125 48.6723 52.7229 49.2929C50.2687 49.8202 46.7544 51.2442 45.252 52.3203C44.835 52.619 44.8321 52.6284 45.1796 52.5552C47.6894 52.0264 55.7272 51.9151 59.3706 52.3587C62.435 52.7316 67.4784 53.6668 68.9522 54.1351C69.21 54.217 69.2173 53.5634 69.1817 33.6558L69.1451 13.0919L67.8074 13.0503L66.4696 13.0086L66.4317 30.0261Z" fill="#393939" />
                        </svg>
                        <p>Libros</p>
                    </div>
                </a>
                <a asp-action="Autores" asp-controller="Administracion" class="card-admin">
                    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:140px;">
                        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.227 0.0828384C24.2997 0.342136 21.9459 1.13797 20.5233 2.01109C20.2322 2.18982 19.8322 2.28434 19.1479 2.33642C15.177 2.63817 11.9021 5.35205 10.8337 9.22627C10.5132 10.3885 10.5397 12.746 10.887 13.9625C11.1995 15.0574 11.9237 16.5009 12.4952 17.1687L12.9004 17.642L12.9008 21.8453C12.9013 26.3865 12.9935 27.4328 13.529 28.9805C13.978 30.2786 14.2671 30.8766 14.9389 31.8975C15.7817 33.1786 16.6614 34.1166 17.8129 34.9621L18.7705 35.6652L18.738 36.1851L18.7055 36.7049L13.2522 38.0732C10.2529 38.8259 7.42944 39.5901 6.97793 39.7715C5.50447 40.3636 4.5828 40.9922 3.28361 42.2913C1.92251 43.6522 1.25485 44.6821 0.679263 46.3085C0.0680201 48.0357 0 48.7986 0 53.9217C0 58.381 0.0111412 58.6239 0.236077 59.0648C0.388067 59.3628 0.637161 59.6119 0.935159 59.7639C1.395 59.9985 1.56939 60 28.3117 60C47.8051 60 55.3969 59.9636 55.847 59.8681C56.7092 59.6849 57.7431 59.1404 58.4063 58.52C59.0405 57.9268 59.7559 56.6608 59.8939 55.8872C59.9676 55.4746 59.9998 55.7057 60.0504 57.0095C60.0855 57.9125 60.1178 56.4348 60.1224 53.7257C60.127 51.0167 60.1057 48.9321 60.0754 49.0933C60.0341 49.312 59.9647 49.169 59.802 48.5306C59.682 48.0599 59.4108 47.3488 59.199 46.9505C58.7526 46.111 57.701 44.9422 57.0116 44.5196L56.5334 44.2264L56.5302 42.2573C56.5265 39.9572 56.4013 39.5393 55.5919 39.1264C55.1735 38.9129 54.9029 38.8903 52.7709 38.8903C50.5807 38.8903 50.4171 38.8756 50.4723 38.6851C50.5049 38.5723 50.7023 37.8466 50.9108 37.0725L51.29 35.6652L52.4455 34.4502C53.6763 33.156 55.2017 31.1859 56.091 29.7417C58.5335 25.7756 59.8236 20.7672 60.0024 14.5555C60.0838 11.7267 59.9312 9.67121 59.6076 9.23776C59.1841 8.6705 58.7789 8.45717 58.1249 8.45717C57.6037 8.45717 57.3632 8.54337 56.521 9.03218C53.7632 10.6325 51.351 12.9795 49.6387 15.7283C47.365 19.3784 46.3109 23.8828 46.6714 28.4091C46.7974 29.9902 47.2495 32.4971 47.6864 34.037L47.89 34.7542L47.4399 36.4411C47.1925 37.3689 46.9431 38.2995 46.886 38.5092L46.7821 38.8903H44.7393C43.1278 38.8903 42.6151 38.929 42.3113 39.0738C41.9365 39.2525 41.7889 39.2231 36.8247 37.9818L31.7232 36.706V36.1762C31.7232 35.6491 31.7283 35.6425 32.72 34.8859C34.8344 33.2729 36.467 30.8107 37.1158 28.2565C37.4564 26.9153 37.5238 25.8777 37.5294 21.8853L37.535 17.8393L38.4958 17.077C40.1798 15.7407 41.2996 14.0568 41.888 11.9755C42.2648 10.6423 42.2661 8.38317 41.8905 7.0685C40.9492 3.77293 38.4758 1.27964 35.1678 0.29159C34.3694 0.0530503 34.0251 0.0311196 30.6677 0.0039116C28.6681 -0.0122725 26.6699 0.0232621 26.227 0.0828384ZM26.2488 3.6485C24.9093 3.87402 23.9092 4.23535 22.3179 5.06906C20.9558 5.78257 20.8478 5.81846 20.0661 5.81846C18.3021 5.81846 16.9254 6.36286 15.7714 7.51673C13.8507 9.4376 13.5357 12.4082 15.0158 14.6428C15.368 15.1744 15.3681 15.1745 15.8509 15.066C17.6909 14.6526 19.5661 12.8052 19.8952 11.0817C20.0958 10.0303 20.8227 9.3358 21.7207 9.33744C22.3106 9.33862 22.6594 9.57939 23.776 10.7561C25.0421 12.0905 26.3285 13.0604 27.7257 13.7342C29.7611 14.716 31.2251 15.076 33.5578 15.1688L35.158 15.2324L36.0483 14.5471C38.6228 12.5655 39.3783 9.68493 38.0555 6.89365C37.2845 5.26667 35.5491 3.92375 33.7889 3.59197C32.883 3.42134 27.3528 3.46273 26.2488 3.6485ZM55.5829 14.051C54.3166 15.1564 53.0252 16.7819 52.1536 18.367C50.7285 20.9587 49.939 24.4943 50.1241 27.4559C50.2183 28.9624 50.5473 31.1699 50.671 31.1256C50.8394 31.0654 51.9702 29.6004 52.6887 28.5114C54.9033 25.1552 55.9761 21.6255 56.4138 16.256C56.4848 15.3853 56.5261 14.359 56.5056 13.9754L56.4684 13.2779L55.5829 14.051ZM22.1668 14.611C21.8892 15.1298 20.8381 16.2708 20.1501 16.8002C19.2418 17.4992 17.8732 18.1961 17.045 18.3814L16.4186 18.5216V22.2607C16.4186 25.2092 16.4578 26.191 16.6039 26.9038C17.8501 32.9819 24.8101 35.9075 29.9828 32.5274C31.4397 31.5753 32.7376 30.0195 33.3669 28.4707C33.9217 27.1052 34.0101 26.2685 34.0101 22.3769V18.7541L32.817 18.6759C29.2543 18.4424 25.7159 17.0812 23.0757 14.9281C22.7057 14.6265 22.3778 14.3796 22.3468 14.3796C22.316 14.3796 22.235 14.4838 22.1668 14.611ZM22.2825 37.3535C22.2825 37.5861 25.0854 42.6403 25.2144 42.6403C25.2466 42.6403 25.9194 41.507 26.7096 40.1218C28.0802 37.719 28.3799 37.0164 27.9666 37.175C27.8677 37.2129 27.2076 37.3084 26.4996 37.3871C25.2682 37.524 23.4323 37.4269 22.5463 37.178C22.3321 37.1178 22.2825 37.1508 22.2825 37.3535ZM14.132 41.4838C8.09674 42.9997 7.35473 43.2652 6.12615 44.3481C5.39048 44.9966 4.56485 46.1219 4.17069 47.013C3.61374 48.2725 3.51828 49.142 3.51828 52.9585V56.4817H5.8638H8.20932V54.7179C8.20932 52.6634 8.3361 52.2608 9.12208 51.8191C9.98911 51.3318 10.9801 51.6067 11.4647 52.4689C11.7049 52.8962 11.7276 53.0902 11.7276 54.7092V56.4817H24.8762H38.0248L37.9373 56.1592C37.8892 55.9819 37.8263 54.4452 37.7976 52.7446C37.738 49.2167 37.8301 48.521 38.5461 47.0898C39.0058 46.1709 40.058 44.9712 40.8003 44.5196L41.2821 44.2264L41.2523 43.471L41.2225 42.7156L35.9965 41.4093L30.7704 40.1029L28.6551 43.8065C26.783 47.0844 26.4873 47.5402 26.0823 47.7721C25.8308 47.9161 25.4401 48.034 25.2144 48.034C24.9886 48.034 24.598 47.9161 24.3463 47.7721C23.9433 47.5414 23.6522 47.0973 21.9071 44.0505C20.8172 42.1477 19.8621 40.4802 19.7846 40.3451C19.645 40.1017 19.5923 40.1122 14.132 41.4838ZM44.7995 44.0551C44.7995 46.1817 44.6851 46.449 43.5253 47.033C42.4774 47.5608 42.106 47.886 41.6862 48.6438L41.3398 49.2692L41.3031 52.1621C41.2684 54.8985 41.2796 55.0807 41.51 55.5321C41.6692 55.8443 41.9135 56.0912 42.2163 56.2456C42.6629 56.4735 42.8968 56.4817 48.9041 56.4817C54.9115 56.4817 55.1453 56.4735 55.5919 56.2456C55.8947 56.0912 56.139 55.8443 56.2983 55.5321C56.5286 55.0807 56.5398 54.8985 56.5051 52.1621L56.4684 49.2692L56.122 48.6438C55.7023 47.886 55.3308 47.5608 54.283 47.033C53.1231 46.449 53.0088 46.1817 53.0088 44.0551V42.4086H48.9041H44.7995V44.0551ZM0.0537124 53.843C0.0537124 56.5521 0.0690756 57.6436 0.0878398 56.2686C0.106604 54.8936 0.106604 52.677 0.0878398 51.343C0.0689583 50.0089 0.0535952 51.1339 0.0537124 53.843Z" fill="#393939" />
                        </svg>
                        <p>Autores</p>
                    </div>
                </a>
            </div>
        </div>
    }
    @if (Context.User.IsInRole("EDITOR") || Context.User.IsInRole("ADMIN"))
    {
        <div class="card-perfil" style="text-align: center; margin-top:auto">
            <h1 class="title">Mis bibliotecas</h1>
            <div class="rowP">
                @foreach (BibliotecaSimple b in biblios)
                {
                    <div data-id="@b.ID_BIBLIOTECA" class="card-admin-biblio">
                        <p class="bibliotecaCard">@b.NOMBRE</p>
                        <div class="apearDiv" style="display: none;" id="div-@b.ID_BIBLIOTECA">
                            <a asp-action="LibrosBiblioteca" asp-controller="Administracion" asp-route-id="@b.ID_BIBLIOTECA">
                                <svg width="60" height="40" viewBox="0 0 432 396" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M57.8865 0.848172C46.1575 4.41617 39.9535 13.5012 39.9145 27.1642C39.9025 31.4272 39.6195 34.9142 39.2865 34.9142C38.9535 34.9142 35.9165 34.1922 32.5365 33.3112C21.6455 30.4682 13.3585 32.4452 6.48347 39.5232C-0.561527 46.7782 -0.164527 37.4422 0.128473 188.964L0.392473 325.414L2.58348 329.509C5.09948 334.211 10.1705 338.983 14.4465 340.674C16.0665 341.315 62.0645 353.845 116.664 368.519L215.936 395.2L315.664 368.403C370.514 353.665 416.967 340.817 418.892 339.852C423.04 337.772 426.953 333.748 429.528 328.914C431.312 325.564 431.403 320.328 431.658 206.635L431.924 87.8552L429.453 85.3852C426.19 82.1212 421.601 82.1142 418.347 85.3692L415.892 87.8232V204.313V320.802L413.642 323.412C411.632 325.742 401.517 328.683 318.892 350.954C268.017 364.666 225.83 375.892 225.142 375.9C224.214 375.91 223.892 372.964 223.892 364.461V353.008L227.142 352.091C293.58 333.345 376.171 309.298 378.844 307.923C383.588 305.482 387.34 301.374 389.811 295.914C391.824 291.468 391.848 289.975 391.87 171.703L391.892 51.9912L397.142 50.4152C407.222 47.3892 410.424 47.3552 413.312 50.2442C414.826 51.7562 415.905 53.9792 415.924 55.6192C416.008 63.0382 424.729 66.2252 429.864 60.7132C435.298 54.8812 428.753 39.5132 418.6 34.2632C414.018 31.8932 406.161 31.5072 399.248 33.3112C395.868 34.1922 392.886 34.9142 392.62 34.9142C392.354 34.9142 391.939 30.9772 391.697 26.1642C391.087 14.0462 387.269 7.23917 378.574 2.76717C370.002 -1.64083 371.552 -1.96583 290.681 21.2062L215.971 42.6122L141.295 21.2632C100.223 9.52117 65.2185 -0.0468276 63.5055 0.000172418C61.7935 0.0471724 59.2645 0.429172 57.8865 0.848172ZM140.16 37.5632L215.937 59.2112L292.054 37.4992C374.589 13.9562 372.009 14.4852 374.762 20.5292C375.584 22.3322 375.892 59.3782 375.892 156.35C375.892 281.866 375.789 289.817 374.142 291.818C372.769 293.486 356.568 298.462 298.892 314.929C258.467 326.471 225.055 335.914 224.642 335.914C224.23 335.914 223.892 278.294 223.892 207.869V79.8232L221.437 77.3692C218.19 74.1212 213.594 74.1212 210.347 77.3692L207.892 79.8232V207.977V336.131L205.354 335.494C203.959 335.144 170.546 325.645 131.104 314.385C54.7325 292.582 55.8925 293.009 55.8925 286.758C55.8925 282.807 51.9215 278.914 47.8925 278.914C43.7365 278.914 39.8925 282.8 39.8925 287.003C39.8925 295.1 45.4835 304.153 52.7495 307.822C54.7535 308.834 87.4425 318.517 125.392 329.341C163.342 340.164 197.429 349.915 201.142 351.009L207.892 352.999V364.581V376.164L205.142 375.591C203.629 375.276 161.442 363.989 111.392 350.509C30.3345 328.677 20.1465 325.715 18.1425 323.401L15.8925 320.802V186.813V52.8232L18.4725 50.2442C21.3605 47.3552 24.5625 47.3892 34.6425 50.4152L39.8925 51.9912V152.998V254.005L42.3475 256.459C43.8945 258.007 45.9445 258.914 47.8925 258.914C49.8405 258.914 51.8905 258.007 53.4375 256.459L55.8925 254.005V138.507C55.8925 55.7532 56.2085 22.3152 57.0065 20.5632C58.0395 18.2962 61.0405 16.1412 63.3875 15.9822C63.9345 15.9442 98.4825 25.6562 140.16 37.5632ZM85.2495 70.9052C82.4915 72.0192 79.8925 75.7432 79.8925 78.5812C79.8925 84.3072 81.4955 84.9372 134.141 99.9052C164.933 108.66 184.665 113.804 185.924 113.404C189.123 112.389 191.892 108.804 191.892 105.68C191.892 99.7552 190.538 99.2182 138.392 84.4552C111.442 76.8252 88.9425 70.4602 88.3925 70.3102C87.8425 70.1612 86.4285 70.4292 85.2495 70.9052ZM293.411 84.4092C240.323 99.6602 239.892 99.8322 239.892 105.836C239.892 108.955 242.947 112.648 246.17 113.427C247.46 113.738 269.141 108.074 297.892 99.9142C351.131 84.8032 351.892 84.4952 351.892 78.0472C351.892 75.4052 348.771 70.9142 346.935 70.9142C346.451 70.9142 345.456 70.7202 344.724 70.4822C343.991 70.2452 320.9 76.5122 293.411 84.4092ZM85.2495 150.905C82.4915 152.019 79.8925 155.743 79.8925 158.581C79.8925 164.307 81.4955 164.937 134.141 179.905C164.933 188.66 184.665 193.804 185.924 193.404C189.123 192.389 191.892 188.804 191.892 185.68C191.892 179.755 190.538 179.218 138.392 164.455C111.442 156.825 88.9425 150.46 88.3925 150.31C87.8425 150.161 86.4285 150.429 85.2495 150.905ZM293.411 164.409C240.323 179.66 239.892 179.832 239.892 185.836C239.892 188.955 242.947 192.648 246.17 193.427C247.46 193.738 269.141 188.074 297.892 179.914C351.131 164.803 351.892 164.495 351.892 158.047C351.892 155.405 348.771 150.914 346.935 150.914C346.451 150.914 345.456 150.72 344.724 150.482C343.991 150.245 320.9 156.512 293.411 164.409ZM85.2495 230.905C82.4915 232.019 79.8925 235.743 79.8925 238.581C79.8925 244.307 81.4955 244.937 134.141 259.905C164.933 268.66 184.665 273.804 185.924 273.404C189.123 272.389 191.892 268.804 191.892 265.68C191.892 259.755 190.538 259.218 138.392 244.455C111.442 236.825 88.9425 230.46 88.3925 230.31C87.8425 230.161 86.4285 230.429 85.2495 230.905ZM293.411 244.409C240.323 259.66 239.892 259.832 239.892 265.836C239.892 268.955 242.947 272.648 246.17 273.427C247.46 273.738 269.141 268.074 297.892 259.914C351.131 244.803 351.892 244.495 351.892 238.047C351.892 235.405 348.771 230.914 346.935 230.914C346.451 230.914 345.456 230.72 344.724 230.482C343.991 230.245 320.9 236.512 293.411 244.409Z" fill="white" />
                                </svg>
                                <p>Libros</p>
                            </a>
                            <a asp-action="PrestamosBiblioteca" asp-controller="Administracion" asp-route-id="@b.ID_BIBLIOTECA">
                                <svg width="40" height="80" viewBox="0 0 261 315" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.1916 1.74954C14.6093 3.82955 7.59192 9.55527 3.59584 17.7374L1.20028 22.6416L1.0003 34.8024L5.93066 35.2374L10.0954 35.6048C10.3764 25.4168 10.5273 24.2269 11.8886 21.4628C14.2805 16.6064 18.9397 12.6112 24.0535 11.0308L25.4356 10.6036L25.2804 111.255L25.1252 211.906L21.4064 213.047C19.3618 213.675 15.9841 215.288 13.9014 216.634L10.1139 219.08L9.95128 141.921C9.79363 67.0276 10.0954 35.6048 10.0954 35.6048L1.0003 34.8024C1.0003 34.8024 0.889872 71.2661 1.03894 156.34V248.401L3.48726 253.024C6.15213 258.601 11.2524 264.108 15.9564 266.488C22.9339 270.019 22.6861 270 60.2041 270C93.9352 270 113.938 269.901 113.938 269.901L113.062 266.401V260.804C113.062 260.804 92.945 261.096 59.5685 260.804C25.4185 260.506 24.4406 260.464 21.7512 259.194C17.795 257.325 14.321 254.082 12.2229 250.296C10.5445 247.269 10.4022 246.531 10.4022 240.881C10.4022 235.231 10.5445 234.493 12.2229 231.465C15.4283 225.683 20.9506 221.987 27.9962 220.91C30.3421 220.551 54.0449 220.383 88.0048 220.484L144.136 220.651L144.308 228.467L144.48 236.283H111.135H77.7901L77.5755 237.901L76.9381 245.401C76.9381 245.401 78.8993 245.479 111.302 245.479H144.248L145 248.836C145.824 252.517 148.125 257.271 150.124 259.425L151.405 260.804H132.233H113.062V266.401L113.938 269.901C113.938 269.901 114.66 270 135.544 270H158.41L158.78 271.379C158.983 272.138 159.153 281.53 159.158 292.25L159.166 311.742L160.672 313.246C162.604 315.177 164.944 315.163 166.898 313.21L168.44 311.669L168.251 290.375L168.061 269.08L166.076 264.891C164.815 262.231 162.66 259.212 160.171 256.616C153.625 249.79 153.952 251.277 153.952 228.314C153.952 205.4 153.628 206.893 160.075 200.114C168.052 191.729 168.368 190.436 168.368 166.266C168.368 151.769 168.561 146.891 169.197 145.372C170.329 142.665 174.008 139.573 176.696 139.069C181.586 138.151 187.205 141.677 188.545 146.503C188.966 148.016 189.22 155.917 189.222 167.531C189.226 189.028 189.036 188.163 195.036 193.92C199.422 198.129 200.958 198.888 205.095 198.888C208.601 198.888 212.151 196.834 216.111 192.514C220.806 187.393 220.512 191.298 220.512 134.042C220.512 83.257 220.527 82.6274 221.756 81.3094C222.44 80.5756 223.652 79.8111 224.451 79.6113C226.202 79.1717 229.492 80.746 229.969 82.2522C230.158 82.8462 231.963 91.1939 233.982 100.803C237.877 119.34 237.029 114.401 237.029 114.401L246.271 116.237C246.271 116.237 239.02 80.1152 237.74 77.6073C235.26 72.7502 229.124 69.6655 223.441 70.4183L220.512 70.8069V43.3106C220.512 11.1069 220.531 11.2387 215.338 6.04995C209.732 0.448074 217.958 0.871678 115.959 0.931142C46.5276 0.971602 25.6405 1.15551 23.1916 1.74954ZM34.6339 110.612V211.149H89.4876H144.341L145.002 208.07C146.012 203.366 148.52 198.997 152.734 194.602C159.142 187.919 158.814 189.405 159.166 165.478L159.473 144.635L161.076 141.263C167.039 128.718 183.601 125.872 192.615 135.844C193.865 137.226 195.615 139.908 196.504 141.803L198.121 145.248L198.313 164.865L198.505 184.482L201.048 187.087C202.446 188.521 204.027 189.693 204.56 189.693C205.092 189.693 206.83 188.373 208.42 186.76L211.31 183.827V99.9854C211.31 7.39249 211.589 13.7999 207.446 11.276C205.524 10.1039 203.701 10.0788 120.058 10.077L34.6339 10.0745V110.612ZM78.0417 27.4907C74.5916 28.7333 72.8426 30.0679 70.9801 32.8793L69.2943 35.424L69.1054 59.6841C68.9778 76.0968 69.1361 84.6915 69.5937 86.2541C70.4808 89.2831 73.5818 92.7492 76.6503 94.1426C78.9557 95.189 81.8555 95.2589 122.972 95.2589C164.089 95.2589 166.988 95.189 169.294 94.1426C172.362 92.7492 175.463 89.2831 176.35 86.2541C176.809 84.6915 176.966 76.0814 176.839 59.6289L176.65 35.3124L174.782 32.6555C173.755 31.1941 171.684 29.3084 170.181 28.4654L167.448 26.9329L123.892 26.798C88.6312 26.6895 79.8998 26.8213 78.0417 27.4907ZM79.4164 37.0479C78.233 38.2304 78.1895 39.0911 78.1895 61.1676C78.1895 82.5679 78.2625 84.1275 79.3115 85.0758C80.3323 85.9997 84.2572 86.0904 123.079 86.0904C163.614 86.0904 165.774 86.0352 166.739 84.9692C167.646 83.9687 167.755 81.4044 167.755 61.0609C167.755 39.0911 167.71 38.2298 166.528 37.0479C165.325 35.8457 164.483 35.8218 122.972 35.8218C81.4611 35.8218 80.6194 35.8457 79.4164 37.0479ZM90.1244 67.9784C89.2962 68.806 88.6183 70.1976 88.6183 71.0711C88.6183 71.9447 89.2962 73.3363 90.1244 74.1639L91.6298 75.6689H122.972H154.314L155.82 74.1639C156.648 73.3363 157.326 71.9447 157.326 71.0711C157.326 70.1976 156.648 68.806 155.82 67.9784L154.314 66.4734H122.972H91.6298L90.1244 67.9784ZM237.029 114.401C237.029 114.401 241.02 134.618 246.663 161.493C251.629 185.15 251.865 186.624 251.657 192.758L251.439 199.195L240.245 232.298L229.053 265.402L229.23 288.905L229.407 312.408L230.856 313.58C232.732 315.097 234.671 315.064 236.686 313.48L238.303 312.21V289.493V266.777L249.472 233.599L260.642 200.421L260.871 193.064C261.098 185.793 261.039 185.413 255.791 160.267C252.134 142.745 246.271 116.237 246.271 116.237L237.029 114.401ZM47.3294 172.596C44.4977 174.242 44.843 179.028 47.8938 180.418C48.7379 180.802 52.5039 181.11 56.3577 181.11C62.453 181.11 63.4984 180.955 64.9173 179.839C66.9429 178.247 67.1337 174.966 65.3068 173.141C64.2057 172.04 63.2763 171.917 56.2583 171.933C51.9432 171.944 47.9404 172.241 47.3294 172.596ZM78.9097 173.333C77.119 175.239 77.2092 177.734 79.1385 179.662C80.639 181.162 80.9445 181.215 86.862 181.013C92.4653 180.823 93.1285 180.673 94.1947 179.356C95.7884 177.388 95.6663 175.224 93.8603 173.42C92.4653 172.025 91.9107 171.915 86.2994 171.915C80.763 171.915 80.1293 172.036 78.9097 173.333ZM47.7134 192.261C44.7633 193.686 44.5977 198.553 47.4466 200.077C48.2226 200.492 55.0161 200.727 66.2148 200.727H83.7665L85.2719 199.222C86.1001 198.395 86.7779 197.278 86.7779 196.74C86.7779 194.968 85.0118 192.307 83.5818 191.925C81.1157 191.265 49.1557 191.564 47.7134 192.261ZM26.938 237.788C26.1098 238.616 25.4319 240.007 25.4319 240.881C25.4319 241.754 26.1098 243.146 26.938 243.974L28.4434 245.479H44.6455C60.1072 245.479 76.9381 245.401 76.9381 245.401L77.7901 236.283C77.7901 236.283 60.8083 236.283 45.0351 236.283H28.4434L26.938 237.788Z" fill="white" />
                                    <path d="M88.6183 49.0977C88.6183 48.2242 89.2962 46.8326 90.1243 46.005L91.6298 44.5H122.972H154.314L155.82 46.005C156.648 46.8326 157.326 48.2242 157.326 49.0977C157.326 49.9713 156.648 51.3629 155.82 52.1905L154.314 53.6955H122.972H91.6298L90.1243 52.1905C89.2962 51.3629 88.6183 49.9713 88.6183 49.0977Z" fill="white" />
                                </svg>
                                <p>Prestamos</p>
                            </a>
                        </div>
                    </div>
                }
                @if (Context.User.IsInRole("ADMIN"))
                {
                    <style>
                        .rowP {
                            max-height: 300px !important;
                        }

                        .card-perfil {
                            max-height: 450px;
                        }

                    </style>
                }
            </div>
        </div>
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $(".card-admin-biblio").click(function () {
                var id = $(this).data("id")
                $(this).children('p:first').toggle("fast")
                $("#div-" + id).toggle("fast")
            })
        })

    </script>
  
    <style>

        .temp {
            height: 90vh;
            margin: 0px;
            padding: 0px;
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            overflow-clip-margin: 20px;
        }

        .apearDiv {
            border: 1px solid var(--border);
            background-color: var(--bg-card);
            height: 200px;
            width: 400px;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .apearDiv > a {
                background-color: var(--bg-card);
                border: 1px solid var(--border);
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
            }

                .apearDiv > a > p {
                    font-family: 'Poppins';
                    font-size: 20px;
                    color: var(--text)
                }

                .apearDiv > a > svg > path {
                    fill: var(--icons);
                    border-color: var(--icons);
                }

        .rowP {
            width: 100%;
            margin: 0px 20px;
            max-height: 700px;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap
        }

        .card-perfil {
            max-width: 1000px;
        }

        .card-admin {
            width: 180px;
            height: 140px;
            background-color: var(--bg-card);
            display: inline-block;
            margin: 0px 20px;
            align-items: center;
            border-radius: 10px;
            border: 1px solid var(--border);
            position: relative;
            margin-top: 20px;
        }

            .card-admin > div > p {
                color: var(--text) !important;
            }

        .card-admin-biblio {
            width: 400px;
            height: 200px;
            background-color: var(--bg-card);
            display: inline-block;
            margin: 0px 20px;
            align-items: center;
            border-radius: 10px;
            border: 1px solid var(--border);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            /*min-width:240px;*/
        }

            .card-admin-biblio > p {
                width: 80%;
                margin: 0px 10px;
                max-height: 100px;
                overflow: auto;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: var(--text) !important;
                margin: 0px;
            }

        .card-admin > div > svg {
            height: 60px;
        }

            .card-admin > div > svg > path {
                fill: var(--icons);
            }

        .card-admin > div > p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            width: 100%;
            margin: 0px 20px;
            color: #393939;
        }

        @@media(max-width: 600px) {
            .card-perfil {
                width: 90%;
                margin-bottom: 40px;
                display: block;
                margin-top: 0px !important;
            }

            .rowP {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
            }

            .card-admin {
                width: 140px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .title {
                font-size: 40px;
                width: 90%;
                margin: auto;
            }
        }

    </style>
