@{
    Layout = "_LayoutAdministrador";
}
<div class="contenido-perfil">
    <div class="card-perfil" style="margin-top: 0;">
        <h1 class="title">Perfil Personal</h1>
        <p>DNI: 123456789</p>
        <p>Nombre: Alvaro</p>
        <p>Apellidos: Gutierrez Carnicero</p>
        <p>Email: agc@gmail.com</p>
        <p>Telefono: 123456789</p>
        <p>Usuario: &#64Alvaro</p>
        <div style="width: 100%;">
            <a class="boton" asp-action="EditPerfil" asp-controller="Administracion">Editar</a>
        </div>
    </div>

    <div class="card-perfil">
        <h1 class="title">Mis Datos</h1>
        <p>Libros leídos: <strong>24</strong></p>
        <p>Comentarios: <strong>12</strong></p>
        <p>Reseñas: <strong>22</strong>
        <p>
            <div style="width: 100%;">
                <a class="boton" href="">Mis prestamos</a>
            </div>
            <div style="width: 100%;">
                <a class="boton" href="">Mis Comentarios</a>
            </div>
    </div>


</div>
