@{
    Layout = "_LayoutAdministrador";
}
<div style="width:100%; display:flex;justify-content:center;align-items:center;">
        <div class="card-info">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a class="inline-flex items-center text-sm font-medium" asp-action="Index" asp-controller="Home">
                            <svg class="svg-leyenda" width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.7721 39.9564H9.22791C4.13023 39.9564 0 35.8076 0 30.7099V16.9238C0 14.3935 1.56279 11.2122 3.57209 9.64936L13.6 1.83541C16.614 -0.508767 21.4326 -0.620395 24.5581 1.57495L36.0558 9.63076C38.2698 11.1749 40 14.4866 40 17.1843V30.7285C40 35.8076 35.8698 39.9564 30.7721 39.9564ZM15.3116 4.03076L5.28372 11.8447C3.96279 12.8866 2.7907 15.2494 2.7907 16.9238V30.7099C2.7907 34.2634 5.67442 37.1657 9.22791 37.1657H30.7721C34.3256 37.1657 37.2093 34.282 37.2093 30.7285V17.1843C37.2093 15.3982 35.9256 12.9238 34.4558 11.9191L22.9581 3.86332C20.8372 2.37495 17.3395 2.44936 15.3116 4.03076Z" fill="#292D32" />
                                <path d="M19.9998 32.5144C19.2371 32.5144 18.6045 31.8819 18.6045 31.1191V25.5377C18.6045 24.7749 19.2371 24.1423 19.9998 24.1423C20.7626 24.1423 21.3952 24.7749 21.3952 25.5377V31.1191C21.3952 31.8819 20.7626 32.5144 19.9998 32.5144Z" fill="#292D32" />
                            </svg>
                            Inicio
                        </a>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                            <svg class="svg-leyenda activo" width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.5814 40H14.4186C4.31628 40 0 35.6837 0 25.5814V14.4186C0 4.31628 4.31628 0 14.4186 0H25.5814C35.6837 0 40 4.31628 40 14.4186V25.5814C40 35.6837 35.6837 40 25.5814 40ZM14.4186 2.7907C5.84186 2.7907 2.7907 5.84186 2.7907 14.4186V25.5814C2.7907 34.1581 5.84186 37.2093 14.4186 37.2093H25.5814C34.1581 37.2093 37.2093 34.1581 37.2093 25.5814V14.4186C37.2093 5.84186 34.1581 2.7907 25.5814 2.7907H14.4186Z"
                          fill="#393939" />
                    <path d="M13.8232 26.1952C13.0418 26.1952 12.3162 26.0091 11.6836 25.6556C10.1395 24.7812 9.30225 23.051 9.30225 20.7812V2.21383C9.30225 1.45104 9.9348 0.818481 10.6976 0.818481C11.4604 0.818481 12.0929 1.45104 12.0929 2.21383V20.7812C12.0929 21.9905 12.4464 22.8835 13.0604 23.2184C13.7115 23.5905 14.7162 23.4045 15.8139 22.7533L18.2697 21.2835C19.2743 20.6882 20.7069 20.6882 21.7115 21.2835L24.1674 22.7533C25.2836 23.4231 26.2883 23.5905 26.9209 23.2184C27.5348 22.8649 27.8883 21.9719 27.8883 20.7812V2.21383C27.8883 1.45104 28.5208 0.818481 29.2836 0.818481C30.0464 0.818481 30.679 1.45104 30.679 2.21383V20.7812C30.679 23.051 29.8418 24.7812 28.2976 25.6556C26.7534 26.53 24.7255 26.344 22.7348 25.1533L20.279 23.6835C20.1674 23.6091 19.8139 23.6091 19.7022 23.6835L17.2464 25.1533C16.0929 25.8417 14.9022 26.1952 13.8232 26.1952Z"
                          fill="#393939" />
                    <path d="M25.5814 40H14.4186C4.31628 40 0 35.6837 0 25.5814V14.4186C0 4.31628 4.31628 0 14.4186 0H25.5814C35.6837 0 40 4.31628 40 14.4186V25.5814C40 35.6837 35.6837 40 25.5814 40ZM14.4186 2.7907C5.84186 2.7907 2.7907 5.84186 2.7907 14.4186V25.5814C2.7907 34.1581 5.84186 37.2093 14.4186 37.2093H25.5814C34.1581 37.2093 37.2093 34.1581 37.2093 25.5814V14.4186C37.2093 5.84186 34.1581 2.7907 25.5814 2.7907H14.4186Z"
                          fill="#393939" />
                    <path d="M13.8232 26.1952C13.0418 26.1952 12.3162 26.0091 11.6836 25.6556C10.1395 24.7812 9.30225 23.051 9.30225 20.7812V2.21383C9.30225 1.45104 9.9348 0.818481 10.6976 0.818481C11.4604 0.818481 12.0929 1.45104 12.0929 2.21383V20.7812C12.0929 21.9905 12.4464 22.8835 13.0604 23.2184C13.7115 23.5905 14.7162 23.4045 15.8139 22.7533L18.2697 21.2835C19.2743 20.6882 20.7069 20.6882 21.7115 21.2835L24.1674 22.7533C25.2836 23.4231 26.2883 23.5905 26.9209 23.2184C27.5348 22.8649 27.8883 21.9719 27.8883 20.7812V2.21383C27.8883 1.45104 28.5208 0.818481 29.2836 0.818481C30.0464 0.818481 30.679 1.45104 30.679 2.21383V20.7812C30.679 23.051 29.8418 24.7812 28.2976 25.6556C26.7534 26.53 24.7255 26.344 22.7348 25.1533L20.279 23.6835C20.1674 23.6091 19.8139 23.6091 19.7022 23.6835L17.2464 25.1533C16.0929 25.8417 14.9022 26.1952 13.8232 26.1952Z"
                          fill="#393939" />
                </svg>
                            <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">Mi lista</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
<div class="card-perfil" style="margin: 0px;">
    <h1 class="title">Mi lista</h1>

    <div class="menu-botones-lista">
            <a class="boton" asp-route-id="@Context.User.Identity.Name" asp-action="Lista_LibrosFavoritos" asp-controller="Administracion">Favoritos</a>

            <a class="boton" asp-route-id="@Context.User.Identity.Name" asp-action="Lista_LibrosLeidos" asp-controller="Administracion">Leidos</a>
    </div
    @RenderBody()
</div>

<style>
     .main {
        position: relative;
        float: right;
        width: calc(100% - 85px - 20px);
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .menu-botones-lista {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-botones-lista>.boton {
        width: 100%;
        max-width: 150px;
    }

    .card-fav {
        margin-top: 40px !important;
    }

    @@media(max-width:600px){
        .main{
            width:100%;
            margin-top:55px;
            height:calc(100vh - 55px);
        }
    }
</style>