
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/EstiloMenuAdmin.css" />
    <link rel="stylesheet" href="~/css/colors.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script>
        const currentTheme = localStorage.getItem('theme');
        console.log(currentTheme)
        if (currentTheme == null) {
            currentTheme = "dark"
        }
        var rutaImg = "";

        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                rutaImg = "/imgs/fondoDef.png";
            }
            else {
                rutaImg = "/imgs/fondoDefClaro.png";
            }
        } else {
            document.documentElement.setAttribute('data-theme', 'light');


        }
    </script>
</head>
<body>
    <img class="imgFondo" id="imgFondo" src="~/imgs/fondoDefClaro.png" />
    <script>
        document.getElementById("imgFondo").src = rutaImg;
    </script>
    <div class="menu-admin">
        <div>
            <a asp-action="Index" asp-controller="Home">
                <svg width="40" height="40" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M54.7974 70.7786H17.0343C8.09894 70.7786 0.859375 63.5065 0.859375 54.5711V30.4067C0.859375 25.9715 3.59867 20.3951 7.12062 17.6558L24.6978 3.95934C29.9807 -0.149591 38.4268 -0.345255 43.9054 3.50279L64.0588 17.6232C67.9395 20.3299 70.9722 26.1346 70.9722 30.8632V54.6038C70.9722 63.5065 63.7327 70.7786 54.7974 70.7786ZM27.6979 7.80739L10.1208 21.5039C7.80544 23.3301 5.75097 27.4716 5.75097 30.4067V54.5711C5.75097 60.7998 10.8056 65.887 17.0343 65.887H54.7974C61.026 65.887 66.0806 60.8324 66.0806 54.6038V30.8632C66.0806 27.7325 63.8305 23.3953 61.2543 21.6343L41.1009 7.5139C37.3833 4.90504 31.2525 5.03549 27.6979 7.80739Z" fill="#292D32" />
                    <path d="M35.9155 57.7344C34.5785 57.7344 33.4697 56.6256 33.4697 55.2886V45.5054C33.4697 44.1683 34.5785 43.0596 35.9155 43.0596C37.2526 43.0596 38.3613 44.1683 38.3613 45.5054V55.2886C38.3613 56.6256 37.2526 57.7344 35.9155 57.7344Z" fill="#292D32" />
                </svg>
            </a>
            <a asp-action="Perfil_Info" asp-controller="Administracion">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2244 22.8465C20.1871 22.8465 20.1313 22.8465 20.0941 22.8465C20.0383 22.8465 19.9639 22.8465 19.9081 22.8465C15.6848 22.7163 12.522 19.4233 12.522 15.3674C12.522 11.2372 15.8894 7.86975 20.0197 7.86975C24.1499 7.86975 27.5174 11.2372 27.5174 15.3674C27.4988 19.4419 24.3174 22.7163 20.2802 22.8465C20.243 22.8465 20.243 22.8465 20.2244 22.8465ZM20.0011 10.6418C17.3964 10.6418 15.2941 12.7628 15.2941 15.3488C15.2941 17.8977 17.2848 19.9628 19.8151 20.0558C19.8709 20.0372 20.0569 20.0372 20.243 20.0558C22.736 19.9256 24.6895 17.8791 24.7081 15.3488C24.7081 12.7628 22.6057 10.6418 20.0011 10.6418Z"
                          fill="#393939" />
                    <path d="M20.0015 40.0001C14.9968 40.0001 10.2155 38.1396 6.51313 34.7536C6.17824 34.4559 6.02941 34.0094 6.06662 33.5815C6.30848 31.3675 7.68522 29.3024 9.97359 27.7768C15.5178 24.0931 24.5038 24.0931 30.0294 27.7768C32.3178 29.321 33.6945 31.3675 33.9364 33.5815C33.9922 34.028 33.8247 34.4559 33.4899 34.7536C29.7875 38.1396 25.0061 40.0001 20.0015 40.0001ZM8.98755 33.2094C12.0759 35.7954 15.9643 37.2094 20.0015 37.2094C24.0387 37.2094 27.9271 35.7954 31.0154 33.2094C30.6806 32.0745 29.7875 30.9768 28.4666 30.0838C23.8899 27.0326 16.1317 27.0326 11.5178 30.0838C10.1968 30.9768 9.32243 32.0745 8.98755 33.2094Z"
                          fill="#393939" />
                    <path d="M20 40C8.96744 40 0 31.0326 0 20C0 8.96744 8.96744 0 20 0C31.0326 0 40 8.96744 40 20C40 31.0326 31.0326 40 20 40ZM20 2.7907C10.5116 2.7907 2.7907 10.5116 2.7907 20C2.7907 29.4884 10.5116 37.2093 20 37.2093C29.4884 37.2093 37.2093 29.4884 37.2093 20C37.2093 10.5116 29.4884 2.7907 20 2.7907Z"
                          fill="#393939" />
                </svg>
            </a>
            <a asp-action="Lista_LibrosFavoritos" asp-route-id="@Context.User.Identity.Name" asp-controller="Administracion">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.5814 40H14.4186C4.31628 40 0 35.6837 0 25.5814V14.4186C0 4.31628 4.31628 0 14.4186 0H25.5814C35.6837 0 40 4.31628 40 14.4186V25.5814C40 35.6837 35.6837 40 25.5814 40ZM14.4186 2.7907C5.84186 2.7907 2.7907 5.84186 2.7907 14.4186V25.5814C2.7907 34.1581 5.84186 37.2093 14.4186 37.2093H25.5814C34.1581 37.2093 37.2093 34.1581 37.2093 25.5814V14.4186C37.2093 5.84186 34.1581 2.7907 25.5814 2.7907H14.4186Z"
                          fill="#393939" />
                    <path d="M13.8232 26.1952C13.0418 26.1952 12.3162 26.0091 11.6836 25.6556C10.1395 24.7812 9.30225 23.051 9.30225 20.7812V2.21383C9.30225 1.45104 9.9348 0.818481 10.6976 0.818481C11.4604 0.818481 12.0929 1.45104 12.0929 2.21383V20.7812C12.0929 21.9905 12.4464 22.8835 13.0604 23.2184C13.7115 23.5905 14.7162 23.4045 15.8139 22.7533L18.2697 21.2835C19.2743 20.6882 20.7069 20.6882 21.7115 21.2835L24.1674 22.7533C25.2836 23.4231 26.2883 23.5905 26.9209 23.2184C27.5348 22.8649 27.8883 21.9719 27.8883 20.7812V2.21383C27.8883 1.45104 28.5208 0.818481 29.2836 0.818481C30.0464 0.818481 30.679 1.45104 30.679 2.21383V20.7812C30.679 23.051 29.8418 24.7812 28.2976 25.6556C26.7534 26.53 24.7255 26.344 22.7348 25.1533L20.279 23.6835C20.1674 23.6091 19.8139 23.6091 19.7022 23.6835L17.2464 25.1533C16.0929 25.8417 14.9022 26.1952 13.8232 26.1952Z"
                          fill="#393939" />
                    <path d="M25.5814 40H14.4186C4.31628 40 0 35.6837 0 25.5814V14.4186C0 4.31628 4.31628 0 14.4186 0H25.5814C35.6837 0 40 4.31628 40 14.4186V25.5814C40 35.6837 35.6837 40 25.5814 40ZM14.4186 2.7907C5.84186 2.7907 2.7907 5.84186 2.7907 14.4186V25.5814C2.7907 34.1581 5.84186 37.2093 14.4186 37.2093H25.5814C34.1581 37.2093 37.2093 34.1581 37.2093 25.5814V14.4186C37.2093 5.84186 34.1581 2.7907 25.5814 2.7907H14.4186Z"
                          fill="#393939" />
                    <path d="M13.8232 26.1952C13.0418 26.1952 12.3162 26.0091 11.6836 25.6556C10.1395 24.7812 9.30225 23.051 9.30225 20.7812V2.21383C9.30225 1.45104 9.9348 0.818481 10.6976 0.818481C11.4604 0.818481 12.0929 1.45104 12.0929 2.21383V20.7812C12.0929 21.9905 12.4464 22.8835 13.0604 23.2184C13.7115 23.5905 14.7162 23.4045 15.8139 22.7533L18.2697 21.2835C19.2743 20.6882 20.7069 20.6882 21.7115 21.2835L24.1674 22.7533C25.2836 23.4231 26.2883 23.5905 26.9209 23.2184C27.5348 22.8649 27.8883 21.9719 27.8883 20.7812V2.21383C27.8883 1.45104 28.5208 0.818481 29.2836 0.818481C30.0464 0.818481 30.679 1.45104 30.679 2.21383V20.7812C30.679 23.051 29.8418 24.7812 28.2976 25.6556C26.7534 26.53 24.7255 26.344 22.7348 25.1533L20.279 23.6835C20.1674 23.6091 19.8139 23.6091 19.7022 23.6835L17.2464 25.1533C16.0929 25.8417 14.9022 26.1952 13.8232 26.1952Z"
                          fill="#393939" />
                </svg>
            </a>
            @if (Context.User.IsInRole("ADMIN") || Context.User.IsInRole("EDITOR"))
            {
                <a asp-action="Admin_Panel" asp-controller="Administracion">
                    <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9815 25.9071C16.1339 25.9071 13.0112 22.7844 13.0112 18.9368C13.0112 15.0892 16.1339 11.9666 19.9815 11.9666C23.8291 11.9666 26.9518 15.0892 26.9518 18.9368C26.9518 22.7844 23.8291 25.9071 19.9815 25.9071ZM19.9815 14.7547C17.6767 14.7547 15.7993 16.632 15.7993 18.9368C15.7993 21.2416 17.6767 23.119 19.9815 23.119C22.2863 23.119 24.1636 21.2416 24.1636 18.9368C24.1636 16.632 22.2863 14.7547 19.9815 14.7547Z"
                              fill="#393939" />
                        <path d="M25.948 37.8769C25.5576 37.8769 25.1673 37.8212 24.777 37.7282C23.6245 37.4122 22.658 36.6873 22.0446 35.665L21.8216 35.2933C20.7249 33.3974 19.2193 33.3974 18.1227 35.2933L17.9182 35.6464C17.3048 36.6873 16.3383 37.4308 15.1859 37.7282C14.0149 38.0442 12.8067 37.8769 11.7844 37.2635L8.58736 35.4234C7.45353 34.7728 6.63569 33.7134 6.28253 32.4308C5.94796 31.1483 6.11524 29.8286 6.7658 28.6948C7.30483 27.7468 7.45353 26.8918 7.13755 26.3528C6.82156 25.8137 6.0223 25.4977 4.92565 25.4977C2.2119 25.4977 0 23.2859 0 20.5721V17.3007C0 14.587 2.2119 12.3751 4.92565 12.3751C6.0223 12.3751 6.82156 12.0591 7.13755 11.5201C7.45353 10.981 7.32342 10.126 6.7658 9.17804C6.11524 8.04421 5.94796 6.70592 6.28253 5.44198C6.6171 4.15945 7.43494 3.09998 8.58736 2.44942L11.803 0.609269C13.9033 -0.636085 16.6729 0.0888222 17.9368 2.22637L18.1599 2.59812C19.2565 4.49403 20.7621 4.49403 21.8587 2.59812L22.0632 2.24496C23.3271 0.0888222 26.0967 -0.636085 28.2156 0.627856L31.4126 2.468C32.5465 3.11856 33.3643 4.17804 33.7175 5.46057C34.052 6.7431 33.8848 8.0628 33.2342 9.19663C32.6952 10.1446 32.5465 10.9996 32.8625 11.5386C33.1784 12.0777 33.9777 12.3937 35.0744 12.3937C37.7881 12.3937 40 14.6056 40 17.3193V20.5907C40 23.3044 37.7881 25.5163 35.0744 25.5163C33.9777 25.5163 33.1784 25.8323 32.8625 26.3714C32.5465 26.9104 32.6766 27.7654 33.2342 28.7134C33.8848 29.8472 34.0706 31.1855 33.7175 32.4494C33.3829 33.7319 32.5651 34.7914 31.4126 35.442L28.197 37.2821C27.4907 37.6725 26.7286 37.8769 25.948 37.8769ZM19.9814 30.9996C21.6357 30.9996 23.1784 32.0405 24.2379 33.8806L24.4424 34.2338C24.6654 34.6241 25.0372 34.903 25.4833 35.0145C25.9294 35.126 26.3755 35.0702 26.7472 34.8472L29.9628 32.9885C30.4461 32.7096 30.8178 32.245 30.9665 31.6873C31.1152 31.1297 31.0409 30.5535 30.7621 30.0702C29.7026 28.2487 29.5725 26.3714 30.3903 24.9401C31.2082 23.5089 32.8996 22.6911 35.0186 22.6911C36.2082 22.6911 37.1561 21.7431 37.1561 20.5535V17.2821C37.1561 16.1111 36.2082 15.1446 35.0186 15.1446C32.8996 15.1446 31.2082 14.3267 30.3903 12.8955C29.5725 11.4643 29.7026 9.58696 30.7621 7.7654C31.0409 7.28213 31.1152 6.70592 30.9665 6.1483C30.8178 5.59068 30.4647 5.14458 29.9814 4.84719L26.7658 3.00704C25.9665 2.52377 24.9071 2.80258 24.4238 3.62042L24.2193 3.97358C23.1599 5.81373 21.6171 6.85462 19.9628 6.85462C18.3085 6.85462 16.7658 5.81373 15.7063 3.97358L15.5019 3.60183C15.0372 2.82116 13.9963 2.54235 13.197 3.00704L9.98141 4.86577C9.49814 5.14459 9.12639 5.60927 8.97769 6.16689C8.829 6.72451 8.90335 7.30072 9.18216 7.78399C10.2416 9.60555 10.3717 11.4829 9.5539 12.9141C8.73606 14.3453 7.04461 15.1632 4.92565 15.1632C3.73606 15.1632 2.7881 16.1111 2.7881 17.3007V20.5721C2.7881 21.7431 3.73606 22.7096 4.92565 22.7096C7.04461 22.7096 8.73606 23.5275 9.5539 24.9587C10.3717 26.3899 10.2416 28.2673 9.18216 30.0888C8.90335 30.5721 8.829 31.1483 8.97769 31.7059C9.12639 32.2635 9.47955 32.7096 9.96283 33.007L13.1784 34.8472C13.5688 35.0888 14.0335 35.1446 14.461 35.0331C14.9071 34.9215 15.2788 34.6241 15.5204 34.2338L15.7249 33.8806C16.7844 32.0591 18.3271 30.9996 19.9814 30.9996Z"
                              fill="#393939" />
                    </svg>
                </a>
            }
            <input id="toggle" class="toggle" type="checkbox" name="Dark mode" role="switch" value="on">
            <a class="bottom" asp-action="CerrarSesion" asp-controller="Managed">
                <svg width="40" height="40" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M130.457 197.685H129.206C86.474 197.685 65.8778 180.842 62.3168 143.115C61.9318 139.169 64.8191 135.608 68.8614 135.223C72.7111 134.838 76.3684 137.821 76.7534 141.767C79.5444 171.988 93.7885 183.248 129.302 183.248H130.554C169.725 183.248 183.584 169.389 183.584 130.218V67.4668C183.584 28.2956 169.725 14.4366 130.554 14.4366H129.302C93.596 14.4366 79.3519 25.8896 76.7534 56.6875C76.2721 60.6335 72.9036 63.6171 68.8614 63.2321C64.8191 62.9434 61.9318 59.3824 62.2206 55.4364C65.4929 17.1314 86.1853 0 129.206 0H130.457C177.713 0 197.924 20.2112 197.924 67.4668V130.218C197.924 177.474 177.713 197.685 130.457 197.685Z" fill="#FF3131" />
                    <path d="M128.134 106.061H18.6089C14.6629 106.061 11.3906 102.789 11.3906 98.8425C11.3906 94.8966 14.6629 91.6243 18.6089 91.6243H128.134C132.08 91.6243 135.352 94.8966 135.352 98.8425C135.352 102.789 132.08 106.061 128.134 106.061Z" fill="#FF3131" />
                    <path d="M40.074 138.303C38.2454 138.303 36.4168 137.63 34.9731 136.186L2.73148 103.944C-0.0595832 101.153 -0.0595832 96.5336 2.73148 93.7425L34.9731 61.5008C37.7642 58.7097 42.3839 58.7097 45.175 61.5008C47.966 64.2918 47.966 68.9115 45.175 71.7026L18.0342 98.8434L45.175 125.984C47.966 128.775 47.966 133.395 45.175 136.186C43.8275 137.63 41.9027 138.303 40.074 138.303Z" fill="#FF3131" />
                </svg>
            </a>
        </div>
    </div>

    <div class="main scrollbar" id="style-1">
        @RenderBody()
    </div>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    const toggleSwitch = document.querySelector('#toggle');

    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        if (currentTheme === 'dark') {
            toggleSwitch.checked = true;
        }
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
    }


    const root = document.querySelector(":root");

    function switchTheme(event) {
        $("body, *, svg").addClass("transi");
        if (event.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');
            rutaImg = "/imgs/fondoDef.png"

        } else {

            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');
            rutaImg = "/imgs/fondoDefClaro.png"
        }
        document.getElementById("imgFondo").src = rutaImg;
    }

    toggleSwitch.addEventListener('change', switchTheme, false);

</script>
