
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/EstiloMainLayout.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        const currentTheme = localStorage.getItem('theme');
        console.log(currentTheme)
        if(currentTheme == null){
            currentTheme = "dark"
        }
        var rutaImg = "";

        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                rutaImg = "/imgs/fondoDef.png";
            }
            else {
                rutaImg = "/imgs/fondoDefClaro.png";
            }
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
        }
    </script>
</head>

<body>

    <img class="imgFondo" id="imgFondo" src="" />
    <script>
            document.getElementById("imgFondo").src = rutaImg;
    </script>

    <!-- *MENU MOVIL-->
    <div class="menu-movil">
        <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="60" onclick="this.classList.toggle('active')">
            <path class="line top"
                  d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
            <path class="line middle" d="m 70,50 h -40" />
            <path class="line bottom"
                  d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
        </svg>
    </div>


    <nav class="menu">
        <!-- *BOTONES DEL MENU -->
        <div class="botones-menu">
            <a class="a-menu boton-menu" asp-action="IndexBibliotecas" asp-controller="Bibliotecas">
                <svg width="30" height="30" viewBox="0 0 210 210" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M52.2712 0.717003C50.4089 1.52454 49.096 2.77437 48.1294 4.65916C47.41 6.0623 47.3493 7.21334 47.3493 19.5046V32.8289L26.3412 32.9454L5.333 33.0622L3.76835 34.0349C2.90753 34.5699 1.70853 35.7557 1.1039 36.6694L0.00409915 38.3312V121.369V204.407L0.976828 205.971C1.51177 206.832 2.69765 208.031 3.61135 208.636L5.27315 209.736H104.775H204.276L206.003 208.506C207.509 207.434 208.298 206.334 209.747 203.285C209.933 202.894 210.041 165.725 209.986 120.687C209.886 39.5721 209.883 39.3085 209.676 92.7048C209.561 122.352 209.421 146.359 209.366 146.054C209.263 145.486 157.202 33.6525 155.144 29.5779C153.171 25.6735 151.072 24.249 147.29 24.249C145.457 24.249 143.274 25.1541 128.502 32.0374C119.309 36.321 111.585 39.8258 111.337 39.8258C111.017 39.8258 110.886 34.9613 110.886 23.0029C110.886 7.27319 110.835 6.08115 110.106 4.65916C109.12 2.73625 107.805 1.50609 105.872 0.698557C103.616 -0.244248 54.449 -0.227441 52.2712 0.717003ZM63.7459 88.6057V160.751H79.1177H94.4896V88.6057V16.4606H79.1177H63.7459V88.6057ZM0 121.399C0 166.602 0.0479601 185.095 0.106578 162.493C0.165196 139.891 0.165196 102.907 0.106578 80.3049C0.0479601 57.703 0 76.1955 0 121.399ZM128.76 49.997C120.684 53.7666 114.05 56.9934 114.018 57.1677C113.93 57.653 160.651 157.855 160.973 157.869C161.346 157.885 189.692 144.728 190.149 144.326C190.344 144.155 179.944 121.356 167.038 93.6624C154.132 65.9685 143.544 43.2724 143.508 43.2264C143.473 43.1805 136.836 46.2274 128.76 49.997ZM16.1958 105.002V160.751H31.7725H47.3493V105.002V49.2538H31.7725H16.1958V105.002ZM110.898 125.396L110.886 160.751H127.512C136.656 160.751 144.052 160.613 143.948 160.443C143.843 160.274 136.529 144.641 127.694 125.703C118.859 106.765 111.468 90.9935 111.27 90.6553C111.062 90.2999 110.906 104.951 110.898 125.396ZM209.266 150.441C209.266 150.858 208.698 151.984 208.004 152.941C206.921 154.437 205.865 155.107 200.523 157.686L194.304 160.689L198.403 160.723C200.658 160.741 203.206 160.951 204.066 161.19C205.978 161.721 208.686 164.339 209.213 166.166C209.49 167.126 209.613 164.947 209.639 158.599C209.659 153.695 209.584 149.683 209.471 149.683C209.358 149.683 209.266 150.024 209.266 150.441ZM16.1958 185.346V193.544H104.737H193.279V185.346V177.147H104.737H16.1958V185.346Z" fill="white" />
                </svg>

                <p>Bibliotecas</p>
            </a>
            <a class="a-menu boton-menu" asp-action="IndexLibros" asp-controller="Libros">
                <svg width="30" height="30" viewBox="0 0 210 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8246 0.309953C26.112 0.733228 24.0157 1.77586 22.6456 4.37814C21.7426 6.09416 21.6959 6.59071 21.6959 14.5097V22.8373H13.7003C4.98146 22.8373 3.93146 23.0436 1.97064 25.1407C1.36561 25.7875 0.675029 26.8355 0.435556 27.4691C0.134269 28.2666 0 49.434 0 96.1518C0 151.944 0.0961988 163.912 0.553041 165.006C1.31772 166.836 3.77058 168.88 5.62006 169.228C6.62871 169.418 8.0148 169.283 9.61988 168.84C22.1396 165.382 31.5774 163.341 40.117 162.243C63.034 159.299 82.914 161.152 99.5633 167.785C101.775 168.666 104.129 169.387 104.795 169.387C105.462 169.387 107.816 168.666 110.027 167.785C117.398 164.849 126.586 162.578 134.883 161.641C151.841 159.727 172.541 161.579 192.193 166.77C203.196 169.677 202.519 169.55 204.262 169.028C206.378 168.394 208.201 166.817 209.195 164.759C209.986 163.123 210 161.876 210 95.397C210 50.3706 209.863 27.786 209.591 27.9542C209.365 28.0934 209.181 27.9264 209.181 27.5833C209.181 26.6328 206.7 24.0129 205.21 23.3903C204.251 22.99 201.68 22.8373 195.89 22.8373H187.895V14.5097C187.895 6.59071 187.848 6.09416 186.945 4.37814C185.456 1.54989 183.653 0.773345 177.368 0.253871C170.699 -0.297123 160.136 0.0766189 153.304 1.10533C134.316 3.96469 119.113 11.3401 108.284 22.9457L104.795 26.684L101.307 22.9457C90.4826 11.3454 75.3618 4.00644 56.2865 1.09428C50.2563 0.173636 36.915 -0.237357 30.8246 0.309953ZM36.3304 14.0909C35.6529 14.2895 35.614 17.2352 35.614 68.5104V122.72L37.9678 122.733C48.6971 122.792 60.2348 124.271 68.4968 126.649C78.9968 129.67 88.5541 134.501 95.2405 140.17C96.4023 141.154 97.4617 141.96 97.5943 141.96C97.7274 141.96 97.8363 119.335 97.8363 91.6821V41.404L95.7428 38.3633C85.3157 23.2167 67.3441 14.949 42.9825 14.0905C39.7178 13.9755 36.7246 13.9759 36.3304 14.0909ZM164.766 14.1155C147.333 14.8695 131.212 20.7098 121.373 29.836C117.6 33.3369 116.444 34.6472 113.904 38.3101L111.754 41.4081V91.6841C111.754 119.336 111.863 141.96 111.996 141.96C112.129 141.96 113.188 141.154 114.35 140.17C118.934 136.284 126.782 131.758 133.521 129.113C143.344 125.258 158.11 122.742 171.009 122.724L173.977 122.72V68.5374V14.355L171.827 14.0967C170.646 13.9546 169.218 13.8732 168.655 13.9153C168.092 13.9571 166.342 14.0476 164.766 14.1155ZM0.199766 96.1121C0.199766 133.599 0.24807 148.935 0.307018 130.191C0.365965 111.448 0.365965 80.7768 0.307018 62.0332C0.24807 43.29 0.199766 58.6253 0.199766 96.1121ZM14.1912 37.0284C14.0409 37.1783 13.9181 63.3489 13.9181 95.1845C13.9181 151.155 13.9431 153.06 14.6697 152.829C18.8288 151.51 33.0797 148.87 41.7544 147.813C51.9457 146.571 74.4427 146.877 81.8713 148.358C82.6933 148.522 82.5726 148.351 81.2573 147.49C76.056 144.086 67.4759 140.657 60.2671 139.102C52.4304 137.412 46.2401 136.917 36.2625 137.183C27.3499 137.421 26.8084 137.392 25.4075 136.605C24.5966 136.149 23.4758 135.109 22.917 134.293L21.9006 132.81L21.7933 84.7824L21.6861 36.7554H18.0747C16.0889 36.7554 14.341 36.8782 14.1912 37.0284ZM187.797 84.7672L187.69 132.81L186.674 134.293C186.115 135.109 184.994 136.149 184.183 136.605C182.782 137.392 182.241 137.421 173.328 137.183C163.266 136.915 157.212 137.408 149.044 139.16C142.106 140.648 132.171 144.668 127.924 147.706C126.745 148.549 126.737 148.576 127.719 148.369C134.814 146.876 157.536 146.562 167.836 147.815C176.499 148.868 190.756 151.508 194.923 152.83C195.651 153.061 195.672 151.216 195.571 95.0142L195.468 36.9601L191.686 36.8426L187.905 36.7247L187.797 84.7672Z" fill="white" />
                </svg>
                <p>Libros</p>
            </a>
            <a class="a-menu boton-menu" asp-action="IndexAutores" asp-controller="Autores">
                <svg width="30" height="30" viewBox="0 0 210 210" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M91.6068 0.289341C84.875 1.19503 76.6534 3.97475 71.6846 7.02442C70.6679 7.64869 69.2707 7.97885 66.8805 8.16072C53.011 9.21469 41.5722 18.6939 37.8405 32.2259C36.721 36.2853 36.8135 44.5196 38.0264 48.7686C39.1181 52.5929 41.6475 57.635 43.6436 59.9674L45.0589 61.6207L45.0605 76.3021C45.0622 92.1636 45.3841 95.8183 47.2545 101.224C48.823 105.758 49.8327 107.847 52.179 111.413C55.123 115.888 58.1956 119.164 62.2177 122.117L65.5623 124.573L65.4489 126.389L65.3354 128.204L46.2878 132.984C35.8116 135.613 25.9498 138.282 24.3728 138.916C19.2262 140.984 16.007 143.179 11.4691 147.717C6.71501 152.47 4.383 156.067 2.37256 161.748C0.237583 167.781 0 170.446 0 188.34C0 203.915 0.0389145 204.764 0.824578 206.304C1.35545 207.345 2.2255 208.215 3.26636 208.746C4.87251 209.565 5.48162 209.57 98.8883 209.57C166.976 209.57 193.492 209.443 195.064 209.109C198.076 208.47 201.687 206.568 204.004 204.401C206.219 202.329 208.718 197.907 209.2 195.205C209.457 193.764 209.57 194.571 209.746 199.125C209.869 202.279 209.982 197.118 209.998 187.655C210.014 178.193 209.94 170.912 209.834 171.475C209.689 172.239 209.447 171.739 208.879 169.51C208.46 167.865 207.512 165.382 206.772 163.99C205.213 161.058 201.54 156.976 199.132 155.5L197.462 154.476L197.451 147.598C197.438 139.564 197.001 138.104 194.174 136.662C192.712 135.917 191.767 135.838 184.32 135.838C176.67 135.838 176.099 135.786 176.292 135.121C176.406 134.727 177.095 132.192 177.823 129.488L179.148 124.573L183.184 120.329C187.483 115.808 192.811 108.927 195.917 103.883C204.448 90.0299 208.954 72.5364 209.579 50.8401C209.863 40.9595 209.33 33.78 208.2 32.266C206.72 30.2846 205.305 29.5395 203.021 29.5395C201.2 29.5395 200.361 29.8406 197.419 31.5479C187.786 37.1377 179.361 45.3351 173.38 54.9364C165.438 67.6856 161.757 83.4189 163.016 99.2285C163.456 104.751 165.035 113.507 166.561 118.886L167.272 121.391L165.7 127.283C164.836 130.523 163.965 133.774 163.765 134.506L163.402 135.838H156.267C150.638 135.838 148.848 135.973 147.787 136.479C146.477 137.103 145.962 137 128.623 132.664L110.804 128.208V126.358C110.804 124.517 110.822 124.493 114.286 121.851C121.671 116.217 127.373 107.617 129.639 98.6955C130.829 94.0106 131.064 90.3867 131.084 76.4418L131.104 62.3096L134.459 59.6471C140.342 54.9798 144.253 49.098 146.308 41.8283C147.624 37.1717 147.629 29.2811 146.317 24.6891C143.029 13.1782 134.39 4.46958 122.835 1.01848C120.047 0.185296 118.844 0.108696 107.117 0.0136626C100.133 -0.0428659 93.1535 0.0812509 91.6068 0.289341ZM91.683 12.7436C87.0042 13.5313 83.5109 14.7934 77.9527 17.7054C73.1953 20.1976 72.8181 20.3229 70.0875 20.3229C63.9263 20.3229 59.1177 22.2244 55.087 26.2547C48.3781 32.964 47.2778 43.3398 52.4477 51.1449C53.6779 53.0017 53.6783 53.0021 55.3647 52.6232C61.7913 51.1793 68.3412 44.7264 69.4907 38.7066C70.1915 35.0343 72.7304 32.6085 75.8669 32.6142C77.9273 32.6183 79.1456 33.4592 83.0456 37.5694C87.4679 42.2302 91.9611 45.6178 96.8414 47.9715C103.951 51.4005 109.064 52.658 117.212 52.982L122.801 53.2045L125.911 50.8106C134.903 43.8892 137.542 33.8279 132.922 24.0784C130.229 18.3956 124.167 13.705 118.019 12.5462C114.855 11.9502 95.5388 12.0948 91.683 12.7436ZM194.142 49.0779C189.719 52.939 185.208 58.6165 182.164 64.153C177.186 73.2053 174.429 85.5547 175.076 95.899C175.404 101.161 176.553 108.871 176.986 108.717C177.574 108.506 181.523 103.389 184.033 99.5856C191.768 87.863 195.515 75.5344 197.044 56.7797C197.292 53.7382 197.437 50.1536 197.365 48.8137L197.235 46.3776L194.142 49.0779ZM77.4251 51.0339C76.4555 52.846 72.7841 56.8313 70.3812 58.6804C67.2086 61.1217 62.4283 63.5561 59.5355 64.2033L57.3477 64.6928V77.753C57.3477 88.0518 57.4845 91.4808 57.9949 93.9705C62.3476 115.201 86.6577 125.419 104.725 113.613C109.814 110.288 114.347 104.853 116.545 99.4435C118.483 94.6742 118.792 91.7515 118.792 78.1589V65.5051L114.625 65.2319C102.18 64.4164 89.8217 59.6618 80.5997 52.1415C79.3074 51.0879 78.162 50.2257 78.0539 50.2257C77.9462 50.2257 77.6631 50.5894 77.4251 51.0339ZM77.829 130.47C77.829 131.282 87.6191 148.936 88.0697 148.936C88.1823 148.936 90.5323 144.977 93.2924 140.139C98.0797 131.746 99.1263 129.292 97.6828 129.846C97.3375 129.979 95.0317 130.312 92.5588 130.587C88.2577 131.065 81.8454 130.726 78.7507 129.857C78.0023 129.646 77.829 129.762 77.829 130.47ZM49.3608 144.896C28.2806 150.191 25.6889 151.118 21.3977 154.901C18.8281 157.166 15.9443 161.096 14.5675 164.209C12.6222 168.608 12.2888 171.645 12.2888 184.976V197.282H20.4813H28.6738V191.121C28.6738 183.945 29.1167 182.539 31.862 180.996C34.8903 179.294 38.3517 180.254 40.0443 183.265C40.8832 184.758 40.9626 185.436 40.9626 191.09V197.282H86.8887H132.814L132.509 196.155C132.341 195.536 132.121 190.168 132.021 184.228C131.813 171.906 132.134 169.476 134.635 164.477C136.241 161.268 139.916 157.077 142.509 155.5L144.192 154.476L144.088 151.837L143.984 149.199L125.73 144.636L107.476 140.073L100.088 153.009C93.5488 164.458 92.5158 166.05 91.1013 166.86C90.2227 167.363 88.8582 167.775 88.0697 167.775C87.2811 167.775 85.9167 167.363 85.0376 166.86C83.6301 166.054 82.6134 164.503 76.5178 153.861C72.7111 147.215 69.3751 141.391 69.1044 140.919C68.6169 140.069 68.4326 140.105 49.3608 144.896ZM156.477 153.878C156.477 161.305 156.078 162.239 152.027 164.279C148.367 166.122 147.069 167.258 145.603 169.905L144.393 172.09L144.265 182.194C144.144 191.752 144.183 192.388 144.988 193.965C145.544 195.055 146.397 195.917 147.455 196.457C149.015 197.253 149.832 197.282 170.814 197.282C191.797 197.282 192.614 197.253 194.174 196.457C195.231 195.917 196.084 195.055 196.641 193.965C197.445 192.388 197.485 191.752 197.363 182.194L197.235 172.09L196.025 169.905C194.559 167.258 193.262 166.122 189.602 164.279C185.551 162.239 185.151 161.305 185.151 153.878V148.126H170.814H156.477V153.878ZM0.187609 188.065C0.187609 197.527 0.24127 201.34 0.30681 196.537C0.37235 191.734 0.37235 183.992 0.30681 179.333C0.24086 174.673 0.187199 178.603 0.187609 188.065Z" fill="white" />
                </svg>
                <p>Autores</p>
            </a>
            @*<a class="a-menu boton-menu">
            <svg width="30" height="30" viewBox="0 0 210 210" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M98.8528 0.294509C82.7522 2.80361 69.3986 13.9846 64.1217 29.3749C58.8943 44.6211 62.8747 61.7575 74.3661 73.4772C75.7981 74.9375 76.9194 76.1763 76.858 76.2299C76.7966 76.284 75.4239 76.801 73.8081 77.3799C67.6387 79.5885 60.5703 83.7081 56.201 87.6415L54.0783 89.5524L49.2415 88.7329C42.1903 87.5379 33.2285 86.6782 24.7531 86.383C17.5299 86.1316 17.2614 86.1517 15.6566 87.0536C14.7425 87.5674 13.6146 88.6735 13.1356 89.5258C12.316 90.9841 12.2686 91.6358 12.2669 101.452L12.2657 111.836L9.60185 113.213C5.16169 115.509 1.53006 120.37 0.447659 125.468C-0.14922 128.279 -0.14922 142.471 0.447659 145.282C1.53006 150.38 5.16169 155.241 9.60185 157.537L12.2657 158.914L12.2669 169.268C12.2686 178.623 12.3435 179.768 13.0452 181.143C14.442 183.881 15.9464 184.361 24.1406 184.678C52.7106 185.783 75.2229 192.229 96.3965 205.367C99.3236 207.184 102.41 208.88 103.254 209.136C105.451 209.804 106.948 209.235 113.181 205.367C134.355 192.229 156.867 185.783 185.437 184.678C193.631 184.361 195.136 183.881 196.533 181.143C197.234 179.768 197.309 178.623 197.311 169.268L197.312 158.914L199.976 157.537C204.294 155.304 208.322 150.003 209.02 145.632C209.168 144.709 209.449 143.855 209.644 143.734C209.84 143.613 210 139.646 210 134.917C210 130.108 209.842 126.418 209.642 126.542C209.445 126.663 209.164 126.016 209.018 125.102C208.322 120.747 204.287 115.442 199.976 113.213L197.312 111.836L197.311 101.452C197.309 91.6358 197.262 90.9841 196.442 89.5258C195.963 88.6735 194.835 87.5674 193.921 87.0536C192.316 86.1517 192.048 86.1316 184.825 86.383C176.349 86.6782 167.387 87.5379 160.336 88.7329L155.499 89.5524L153.377 87.6415C149.007 83.7081 141.939 79.5885 135.77 77.3799C134.154 76.801 132.781 76.284 132.72 76.2299C132.658 76.1763 133.78 74.9375 135.212 73.4772C146.692 61.7689 150.679 44.6064 145.456 29.3749C140.713 15.5403 129.156 4.79566 115.228 1.2717C110.612 0.103737 102.994 -0.350677 98.8528 0.294509ZM99.7793 12.5457C87.2444 14.8382 77.3234 24.6077 74.7337 37.2085C71.3506 53.6697 82.2024 69.9013 98.8962 73.3495C108.894 75.4149 119.446 72.0616 126.753 64.4983C142.869 47.8168 135.565 20.3145 113.181 13.3935C109.964 12.3987 102.993 11.9578 99.7793 12.5457ZM85.3277 86.8857C83.5178 87.1903 80.386 88.0164 78.3682 88.7222C74.6764 90.0134 69.582 92.5774 69.582 93.1444C69.582 93.3122 71.1942 93.9701 73.1641 94.6067C80.8916 97.1035 93.0945 102.726 101.002 107.431L104.789 109.685L108.576 107.431C116.497 102.717 128.813 97.04 136.414 94.5993C138.384 93.9668 139.996 93.3122 139.996 93.1444C139.996 92.5794 134.907 90.0155 131.245 88.7349C124.914 86.5206 121.913 86.2479 104.379 86.2925C93.2034 86.3208 87.6611 86.4935 85.3277 86.8857ZM24.5517 105.21L24.5529 111.836L27.2167 113.213C31.6569 115.509 35.2885 120.37 36.3709 125.468C36.9678 128.279 36.9678 142.471 36.3709 145.282C35.2885 150.38 31.6569 155.241 27.2167 157.537L24.5529 158.914L24.5517 165.513L24.55 172.112L26.0852 172.366C26.9298 172.505 28.6876 172.622 29.9919 172.624C33.1626 172.63 42.8367 173.698 48.9082 174.713C64.8483 177.377 80.3152 182.575 94.0426 189.883L98.6481 192.334V156.296V120.259L93.8379 117.428C74.504 106.051 53.8888 100.185 28.3368 98.7906L24.55 98.5838L24.5517 105.21ZM180.525 98.8114C171.789 99.2155 158.603 101.147 150.026 103.279C138.414 106.165 126.492 111.09 115.74 117.444L110.93 120.286V156.31V192.334L115.535 189.883C129.263 182.575 144.729 177.377 160.669 174.713C166.741 173.698 176.415 172.63 179.586 172.624C180.89 172.622 182.648 172.505 183.493 172.366L185.028 172.112L185.026 165.513L185.025 158.914L182.361 157.537C177.921 155.241 174.289 150.38 173.207 145.282C172.61 142.471 172.61 128.279 173.207 125.468C174.289 120.37 177.921 115.509 182.361 113.213L185.025 111.836L185.026 105.183C185.028 98.5335 185.027 98.5306 184.107 98.6096C183.6 98.653 181.988 98.7439 180.525 98.8114ZM15.4458 123.938C12.6685 125.404 12.2686 126.843 12.2686 135.375C12.2686 141.985 12.3566 142.949 13.0926 144.392C14.0195 146.208 16.3779 147.656 18.4093 147.656C20.4406 147.656 22.7991 146.208 23.7259 144.392C24.462 142.949 24.55 141.985 24.55 135.375C24.55 128.765 24.462 127.801 23.7259 126.358C22.2153 123.397 18.5174 122.316 15.4458 123.938ZM188.205 123.938C185.428 125.404 185.028 126.843 185.028 135.375C185.028 141.985 185.116 142.949 185.852 144.392C186.779 146.208 189.137 147.656 191.168 147.656C193.2 147.656 195.558 146.208 196.485 144.392C197.221 142.949 197.309 141.985 197.309 135.375C197.309 128.765 197.221 127.801 196.485 126.358C194.974 123.397 191.277 122.316 188.205 123.938ZM0.161092 135.375C0.161092 140.216 0.220043 142.196 0.292503 139.776C0.364964 137.355 0.364964 133.395 0.292503 130.974C0.220043 128.553 0.161092 130.534 0.161092 135.375Z" fill="white" />
            </svg>
            <p>Editoriales</p>
            </a>*@
        </div>
        <!-- *PARTE INFERIOR DEL MENU -->
        <div class="menu-inferior">
            <div class="separador-menu"></div>
            <div style="width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;">
                <p style="margin-bottom:5px;" class="menu-usuario">Dia / Noche</p>
                <input id="toggle" class="toggle" type="checkbox" name="Dark mode" role="switch" value="on">
            </div>
            @if (Context.User.Identity.IsAuthenticated == false)
            {
                <a asp-action="Login" asp-controller="Managed" class="boton-logout boton-login" style="text-decoration:none">
                    <svg width="30" height="30" viewBox="0 0 191 198" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M127.552 198H126.376C86.1891 198 66.8199 181.13 63.471 143.343C63.109 139.391 65.8243 135.824 69.6257 135.438C73.3366 135.053 76.6855 138.041 77.0476 141.993C79.6724 172.262 93.0679 183.54 126.466 183.54H127.643C164.481 183.54 177.514 169.659 177.514 130.426V67.5744C177.514 28.3408 164.481 14.4596 127.643 14.4596H126.466C92.8869 14.4596 79.4913 25.9308 77.0476 56.7779C76.595 60.7302 73.5177 63.7185 69.6257 63.3329C65.8243 63.0438 63.109 59.4771 63.3805 55.5248C66.4579 17.1587 85.9176 0 126.376 0H127.552C171.993 0 191 20.2434 191 67.5744V130.426C191 177.757 171.993 198 127.552 198Z" fill="#509EFF" />
                        <path d="M124.289 106.23H7.7121C4.00118 106.23 0.923828 102.952 0.923828 99.0001C0.923828 95.0478 4.00118 91.7703 7.7121 91.7703H124.289C128 91.7703 131.078 95.0478 131.078 99.0001C131.078 102.952 128.091 106.23 124.289 106.23Z" fill="#509EFF" />
                        <path d="M104.104 138.524C102.384 138.524 100.665 137.849 99.307 136.403C96.6822 133.608 96.6822 128.981 99.307 126.185L124.831 99.001L99.307 71.8169C96.6822 69.0214 96.6822 64.3944 99.307 61.5988C101.932 58.8033 106.276 58.8033 108.901 61.5988L139.222 93.892C141.847 96.6875 141.847 101.315 139.222 104.11L108.901 136.403C107.543 137.849 105.824 138.524 104.104 138.524Z" fill="#509EFF" />
                    </svg>
                    <p>Iniciar Sesion</p>
                </a>
            }
            else
            {
                <p><a class="menu-usuario" style="text-decoration:underline" asp-action="Perfil_Info" asp-controller="Administracion">@Context.User.Identity.Name</a></p>
                <a asp-action="CerrarSesion" asp-controller="Managed" class="boton-logout" style="text-decoration:none">
                    <svg width="30" height="30" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M130.457 197.685H129.206C86.474 197.685 65.8778 180.842 62.3168 143.115C61.9318 139.169 64.8191 135.608 68.8614 135.223C72.7111 134.838 76.3684 137.821 76.7534 141.767C79.5444 171.988 93.7885 183.248 129.302 183.248H130.554C169.725 183.248 183.584 169.389 183.584 130.218V67.4668C183.584 28.2956 169.725 14.4366 130.554 14.4366H129.302C93.596 14.4366 79.3519 25.8896 76.7534 56.6875C76.2721 60.6335 72.9036 63.6171 68.8614 63.2321C64.8191 62.9434 61.9318 59.3824 62.2206 55.4364C65.4929 17.1314 86.1853 0 129.206 0H130.457C177.713 0 197.924 20.2112 197.924 67.4668V130.218C197.924 177.474 177.713 197.685 130.457 197.685Z" fill="#FF3131" />
                        <path d="M128.134 106.061H18.6089C14.6629 106.061 11.3906 102.789 11.3906 98.8425C11.3906 94.8966 14.6629 91.6243 18.6089 91.6243H128.134C132.08 91.6243 135.352 94.8966 135.352 98.8425C135.352 102.789 132.08 106.061 128.134 106.061Z" fill="#FF3131" />
                        <path d="M40.074 138.303C38.2454 138.303 36.4168 137.63 34.9731 136.186L2.73148 103.944C-0.0595832 101.153 -0.0595832 96.5336 2.73148 93.7425L34.9731 61.5008C37.7642 58.7097 42.3839 58.7097 45.175 61.5008C47.966 64.2918 47.966 68.9115 45.175 71.7026L18.0342 98.8434L45.175 125.984C47.966 128.775 47.966 133.395 45.175 136.186C43.8275 137.63 41.9027 138.303 40.074 138.303Z" fill="#FF3131" />
                    </svg>
                    <p>Cerrar Sesion</p>
                </a>
            }

        </div>
    </nav>
    <!-- *AQUI VA EL CONTENIDO -->
    <div class="main scrollbar" id="style-1">
        <div class="movil-bottom">
            @RenderBody()
        </div>
    </div>


</body>

</html>


<script>



    $(document).ready(main);


    function main() {
        var contador = 1;
        $(window).on('resize', function () {
            if ($(this).width() > 800) {
                $(".menu").css('left', '0');
            }
            if ($(this).width() < 800) {
                $(".menu").css('left', '-100%');
            }
        }).trigger('resize');

        $(".menu-movil").click(function () {
            if (contador == 1) {
                contador = 0;
                $(".menu").animate({
                    left: '0'
                })
            } else {
                contador = 1;
                $(".menu").animate({
                    left: '-100%'
                })
            }
        });


        const toggleSwitch = document.querySelector('#toggle');

        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;
            }
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
        }


        const root = document.querySelector(":root");

        function switchTheme(event) {
            $("body, *, svg").addClass("transi");
            if (event.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
                rutaImg = "/imgs/fondoDef.png"

            } else {

                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
                rutaImg = "/imgs/fondoDefClaro.png"
            }
            document.getElementById("imgFondo").src = rutaImg;
        }

        toggleSwitch.addEventListener('change', switchTheme, false);


    };

</script>